:root {
    --fc-border-color: black;
    --fc-daygrid-event-dot-width: 5px;
    --fc-today-bg-color: none;
    --fc-event-bg-color: none;
    --fc-event-border-color: none;
    --fc-event-text-color: #000000;
}


/*=====================================================================*/
/* monthStyle */
/*=====================================================================*/

.monthStyle .fc-scrollgrid{
  border : 1px solid rgb(207, 207, 207);
}

.monthStyle .fc-theme-standard td, .fc-theme-standard th{
  border : 0.5px solid rgb(207, 207, 207);
}

/* 헤더 css */
.monthStyle .fc-col-header-cell-cushion{
  font-size: 16px;
  color: black;
  text-decoration: none;
}

/* 일요일 css */
.monthStyle .fc-day-sun{
  background-color: rgb(245, 233, 233);
}

/* 토요일 css */
.monthStyle  .fc-day-sat{
  background-color: rgb(218, 224, 235);
}

/* 숫자날짜 css */
.monthStyle  .fc-daygrid-day-number{
  color: black;
  text-align: left;
  font-size: 17px;
  text-decoration : none;
  margin-left: 2px;
}

/* 숫자날짜 row css */
.monthStyle .fc .fc-daygrid-day-top {
  flex-direction: row
}

.monthStyle .fc-event-title-container{
  font-size: 11px;
  margin-left: 2px;
}

.monthStyle .fc-col-header-cell{
  background-color: rgb(245, 245, 245);
}














/*=====================================================================*/
/* .listStyle */
/*=====================================================================*/

.listStyle .fc-scrollgrid{
  border : 0.7px solid rgb(207, 207, 207);
}

.listStyle .fc-theme-standard td, .fc-theme-standard th{
  border : 0.5px solid rgb(207, 207, 207);
  font-size: 12px;
  text-align: center;
  font-family: 'DXIcons';
}

/* 헤더 css */
.listStyle .fc-col-header-cell-cushion{
  font-size: 16px;
  color: black;
  text-decoration: none;
  font-weight: 400;
}

.listStyle .fc-event-title-container{
  font-size: 11px;
  margin-left: 2px;
}

.listStyle .fc-col-header-cell{
  background-color: rgb(245, 245, 245);
}

.listStyle .fc-event-main{
  background: rgb(190, 218, 197);
  font-size: 16px;
}

.listStyle .fc-direction-ltr .fc-timegrid-slot-label-frame{
  text-align: center;
}

.listStyle .fc-direction-ltr .fc-list-day-text, .fc-direction-rtl .fc-list-day-side-text{
  text-decoration: none;
  color: black;
}

.listStyle .fc-direction-ltr .fc-list-day-side-text, .fc-direction-rtl .fc-list-day-text{
  text-decoration: none;
  color: black;
}

.listStyle .fc-v-event .fc-event-title{
  font-size: 14px;
  margin-top: 5px;
}