.dx-scheduler-header-panel-cell .dx-scheduler-header-panel-cell-date:last-child{
    font-size: 16px;
}

.dx-scheduler-header-panel-cell-date{
    font-size: 16px;
}

.dx-button-text{
    color: black
}
