<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trsystem.mybatis.mapper.ComponentSampleMapper">
	<select id="retrieveSampleNoticeList" parameterType="map" resultType="com.trsystem.LowerHashMap">
	   SELECT ROW_NUMBER() OVER() ROWNUM
			, N.NOTICE_ID
			, N.NOTICE_TTL
			, N.NOTICE_CN
     		 , CASE WHEN N.USE_YN IS NULL THEN 'N'
     		        ELSE N.USE_YN END AS USE_YN
			, N.IMPRTNC_NTC_BGNG_YMD
			, E.EMP_FLNM AS REG_EMP_ID
			, E.EMP_FLNM
			, DATE_FORMAT(N.REG_DT, '%Y-%m-%d %H:%i') AS REG_DT
			, COUNT(*) OVER () AS TOTAL_ITEMS
		FROM tester.NOTICE N
		LEFT JOIN EMP E ON N.REG_EMP_ID = E.EMP_ID
				WHERE 1=1
		<if test="searchCnd == 'VTW01701' and searchWrd != null">
			AND N.NOTICE_TTL LIKE CONCAT('%',#{searchWrd},'%')
		</if>
		<if test="searchCnd == 'VTW01702' and searchWrd != null">
			AND REGEXP_REPLACE(N.NOTICE_CN, '&lt;[^&gt;]*&gt;', '') LIKE CONCAT('%', #{searchWrd}, '%')
		</if>
		<if test="(searchCnd == null and searchWrd != null) or (searchCnd == 'VTW01703' and searchWrd != null)">
			AND (
			N.NOTICE_TTL LIKE CONCAT('%',#{searchWrd},'%')
			OR REGEXP_REPLACE(N.NOTICE_CN, '&lt;[^&gt;]*&gt;', '') LIKE CONCAT('%', #{searchWrd}, '%')
			)
		</if>
		<if test="startDt != null and endDt != null">
		  	AND N.IMPRTNC_NTC_BGNG_YMD BETWEEN #{startDt} AND #{endDt}
		 </if>
		ORDER BY N.REG_DT DESC
	</select>
	
	<select id="selectSampleNoticeOne" parameterType="map" resultType="com.trsystem.LowerHashMap"> 
	   SELECT N.NOTICE_ID
			, N.NOTICE_TTL
			, N.NOTICE_CN
			, N.USE_YN
			, N.IMPRTNC_NTC_BGNG_YMD
			, N.ATCHMNFL_ID
			, A.ATCHMNFL_SN
			, A.REAL_FILE_NM
			, A.STRG_FILE_NM
			, E.EMP_FLNM AS REG_EMP_NM
			, N.REG_EMP_ID
			, DATE_FORMAT(N.REG_DT, '%Y-%m-%d %H:%i') AS REG_DT
		FROM NOTICE N
				 LEFT JOIN EMP E ON N.REG_EMP_ID = E.EMP_ID
				 LEFT JOIN ATCHMNFL A ON N.ATCHMNFL_ID = A.ATCHMNFL_ID
		WHERE N.NOTICE_ID = #{noticeId}
	</select>
	
	<select id="retrieveSampleBoardList" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT ROW_NUMBER() OVER () ROWNUM
		     , A.BOARD_ID
     		 , A.BOARD_TTL
     		 , A.BOARD_CN
     		 , A.NOTICE_DT
     		 , CASE WHEN USE_YN IS NULL THEN 'N'
     		        ELSE USE_YN END AS USE_YN
     		 , A.REG_EMP_ID
     		 , B.EMP_FLNM
     		 , A.REG_DT AS DT
     		 , DATE_FORMAT(A.REG_DT, '%Y-%m-%d') AS REG_DT
     		 , COUNT(*) OVER () AS TOTAL_ITEMS
          FROM tester.SAMPLE_BOARD A
          INNER JOIN tester.EMP B ON A.REG_EMP_ID = B.EMP_ID
          WHERE 1=1
          <if test="searchCnd == 'VTW01701' and searchWrd != null">
            AND A.BOARD_TTL LIKE CONCAT('%',#{searchWrd},'%')
          </if>
          <if test="searchCnd == 'VTW01702' and searchWrd != null">
			AND REGEXP_REPLACE(A.BOARD_CN, '&lt;[^&gt;]*&gt;', '') LIKE CONCAT('%', #{searchWrd}, '%')
		  </if>
		  <if test="(searchCnd == null and searchWrd != null) or (searchCnd == 'VTW01703' and searchWrd != null)">
		  	AND (
			A.BOARD_TTL LIKE CONCAT('%',#{searchWrd},'%')
			OR REGEXP_REPLACE(A.BOARD_CN, '&lt;[^&gt;]*&gt;', '') LIKE CONCAT('%', #{searchWrd}, '%')
			)
		  </if>
		  <if test="startDt != null and endDt != null">
		  	AND A.NOTICE_DT BETWEEN #{startDt} AND #{endDt}
		  </if>
		  ORDER BY A.NOTICE_DT DESC
	</select>
	
	<select id="retrieveSampleBoardOne" parameterType="map" resultType="com.trsystem.LowerHashMap"> 
        SELECT A.BOARD_ID
     		 , A.BOARD_TTL
     		 , A.BOARD_CN
     		 , A.NOTICE_DT
     		 , A.REG_EMP_ID
     		 , B.EMP_FLNM
     		 , A.REG_DT AS DT
     		 , DATE_FORMAT(A.REG_DT, '%Y-%m-%d') AS REG_DT
     		 , A.ATCHMNFL_ID
     		 , C.ATCHMNFL_SN 
     		 , C.STRG_FILE_NM 
     		 , C.REAL_FILE_NM
     		 , C.FILE_STRG_COURS 
          FROM tester.SAMPLE_BOARD A
          INNER JOIN tester.EMP B ON A.REG_EMP_ID = B.EMP_ID
          LEFT JOIN tester.ATCHMNFL C ON A.ATCHMNFL_ID = C.ATCHMNFL_ID 
          WHERE 1=1
            AND A.BOARD_ID = #{boardId} 
	</select>
	
	<select id="retrieveSampleUserList" parameterType="map" resultType="com.trsystem.LowerHashMap"> 
		SELECT A.USER_ID
		     , A.USER_EMPNO
		     , A.USER_NM
		     , A.USER_BRDT
		     , A.USER_TELNO
		     , A.USER_EML
		     , A.USER_SEXCD
		     , A.USER_ETC
		     , DATE_FORMAT(A.REG_DT, '%Y-%m-%d') AS REG_DT
		     , COUNT(*) OVER () AS TOTAL_ITEMS
		  FROM tester.SAMPLE_USER A
		 WHERE 1=1
		  <if test="userEmpno != null and userEmpno != ''">
		   AND A.USER_EMPNO LIKE CONCAT('%',#{userEmpno},'%')
		  </if>
		  <if test="userNm != null and userNm != ''">
		   AND A.USER_NM LIKE CONCAT('%',#{userNm},'%')
		  </if>
	</select>
	
	<select id="retrieveSampleUserCnt" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT COUNT(1) AS USER_NO
		  FROM tester.SAMPLE_USER A
	</select>
	
	<select id="selectSampleUserOne" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT A.USER_ID
		     , A.USER_EMPNO
		     , A.USER_NM
		     , A.USER_BRDT
		     , A.USER_TELNO
		     , A.USER_EML
		     , A.USER_SEXCD
		     , A.USER_ETC
		     , DATE_FORMAT(A.REG_DT, '%Y-%m-%d') AS REG_DT
		     , A.ATCHMNFL_ID
		     , B.ATCHMNFL_SN
		     , B.REAL_FILE_NM
		     , B.STRG_FILE_NM
		  FROM tester.SAMPLE_USER A
		  LEFT JOIN tester.ATCHMNFL B ON A.ATCHMNFL_ID = B.ATCHMNFL_ID
		 WHERE A.USER_ID = #{userId}
	</select>
</mapper>