<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.trsystem.mybatis.mapper.elecAtrzMapper">
	<!-- 전자결재 계약: 계약서 품의(재료비) 지불계획 팝업 -->
	<select id="retrieveMatrlPlan" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT CONCAT(PRDUCT_NM,  " - ", DLVGDS_ENTRPS_NM) AS MATRL_PLAN
			 , MATRL_CT_SN 
			 , CNTRCTAMOUNT
			 , PRDUCT_NM
			 , DLVGDS_ENTRPS_NM
			 , DTL_CN
			 , UNTPC
			 , QY
			 , mcp.PRJCT_ID
		  FROM MATRL_CT_PRMPC mcp
		  JOIN (SELECT MAX(BGT_MNG_ODR) AS BGT_MNG_ODR, PRJCT_ID 
		  		  FROM PRJCT_BGT_PRMPC
	 		 	 WHERE 1=1
		   		   AND ATRZ_DMND_STTS_CD = 'VTW03703'
			    GROUP BY PRJCT_ID) pbp ON (mcp.PRJCT_ID = pbp.PRJCT_ID AND mcp.BGT_MNG_ODR = pbp.BGT_MNG_ODR)
		  WHERE 1=1
		    AND mcp.PRJCT_ID = #{prjctId}
	</select>

	<select id="elecAtrzMain" parameterType="String" resultType="com.trsystem.LowerHashMap">
		SELECT DISTINCT
		ea.ELCTRN_ATRZ_ID,
		ea.ATRZ_DMND_EMP_ID,
		ea.ATRZ_DMND_STTS_CD,
		ea.PRJCT_ID,
		ea.ELCTRN_ATRZ_TY_SE_CD,
		ea.NOW_ATRZ_LN_SN,
		eadf.GNRL_ATRZ_TTL, -- 전자결재 유형
		d.DEPT_NM,
		-- 			cad.CNPT_NM, -- 거래처명
		(SELECT EMP_FLNM FROM EMP WHERE EMP_ID = ea.ATRZ_DMND_EMP_ID) ATRZ_DMND_EMP_NM, -- 기안자
		(SELECT EMP_FLNM FROM EMP WHERE EMP_ID = al.APRVR_EMP_ID) APRVR_EMP_ID, -- 결재자
		(SELECT CD_NM FROM CD WHERE CD_VALUE = al.ATRZ_STEP_CD) ATRZ_STEP_CD, -- 현재 결재단계
		(SELECT CD_NM FROM CD WHERE CD_VALUE = al.ATRZ_STTS_CD) ATRZ_STTS_CD, -- 결재상태
		DATE_FORMAT(ea.REG_DT, '%Y-%m-%d %H:%i:%s') AS REG_DT,
		COALESCE(ga.GNRL_ATRZ_TTL, ca.CLM_ATRZ_TTL, cta.CTRT_ATRZ_TTL, cga.ATRZ_TTL, CONCAT((SELECT CD_NM FROM CD WHERE CD_VALUE = va.VCATN_TY_CD), ' [',
		DATE_FORMAT(va.VCATN_BGNG_YMD, '%Y-%m-%d'), ' ~ ', DATE_FORMAT(va.VCATN_END_YMD, '%Y-%m-%d'), ' (', va.VCATN_DE_CNT, '일)]')) AS TITLE,
		COALESCE(ga.GNRL_ATRZ_CN, ca.CLM_ATRZ_CN, cta.CTRT_ATRZ_CN, cga.STLM_CN) AS CN,
		COALESCE(ga.ATCHMNFL_ID, ca.ATCHMNFL_ID, cta.ATCHMNFL_ID, cga.ATCHMNFL_ID) AS ATCHMNFL_ID,
		al.RJCT_PRVONSH
		FROM ELCTRN_ATRZ ea
		LEFT JOIN ATRZ_LN al ON ea.ELCTRN_ATRZ_ID = al.ELCTRN_ATRZ_ID -- 현재 결재단계만
		LEFT JOIN REFRN_MAN rm ON ea.ELCTRN_ATRZ_ID = rm.ELCTRN_ATRZ_ID -- 참조자의 경우
		LEFT JOIN GNRL_ATRZ ga ON ea.ELCTRN_ATRZ_ID = ga.ELCTRN_ATRZ_ID -- 일반결재
		LEFT JOIN CLM_ATRZ ca ON ea.ELCTRN_ATRZ_ID = ca.ELCTRN_ATRZ_ID -- 청구결재
		LEFT JOIN CLM_ATRZ_DTL cad ON ea.ELCTRN_ATRZ_ID = cad.ELCTRN_ATRZ_ID -- 청구결재 상세
		LEFT JOIN CTRT_ATRZ cta ON ea.ELCTRN_ATRZ_ID = cta.ELCTRN_ATRZ_ID -- 계약결재
		LEFT JOIN CTRT_GIVE_ATRZ cga ON ea.ELCTRN_ATRZ_ID = cga.ELCTRN_ATRZ_ID -- 계약지급결재
		LEFT JOIN VCATN_ATRZ va ON ea.ELCTRN_ATRZ_ID = va.ELCTRN_ATRZ_ID -- 휴가결재
		LEFT JOIN ELCTRN_ATRZ_DOC_FORM eadf ON ea.ATRZ_FORM_DOC_ID = eadf.ATRZ_FORM_DOC_ID -- 서식 제목
		LEFT JOIN DEPT d ON ea.ATRZ_DMND_EMP_DEPT_ID = d.DEPT_ID
		WHERE 1=1
		<choose>
			<when test='sttsCd != null and refer == null and sttsCd.startsWith("VTW037")'>
				AND ATRZ_DMND_EMP_ID = #{empId}
				AND ea.ATRZ_DMND_STTS_CD = #{sttsCd}
				AND ea.NOW_ATRZ_LN_SN = al.ATRZ_LN_SN
			</when>
			<when test='sttsCd != null and refer == true and sttsCd.startsWith("VTW037")'>
				AND rm.EMP_ID = #{empId}
				AND ea.ATRZ_DMND_STTS_CD = #{sttsCd}
				AND ea.NOW_ATRZ_LN_SN = al.ATRZ_LN_SN
			</when>
			<when test='sttsCd != null and sttsCd == "VTW00801"'>
				AND al.APRVR_EMP_ID = #{empId}
				AND al.ATRZ_STTS_CD = #{sttsCd}
				AND ea.NOW_ATRZ_LN_SN = al.ATRZ_LN_SN
			</when>
			<when test='sttsCd != null and sttsCd == "VTW00802"'>
				AND al.APRVR_EMP_ID = #{empId}
				AND al.ATRZ_STTS_CD = #{sttsCd}
			</when>
		</choose>
		<if test="elctrnAtrzTySeCd != null">
			AND ea.ELCTRN_ATRZ_TY_SE_CD = #{elctrnAtrzTySeCd}
		</if>
		<if test="title != null">
			AND (
			LOWER(ga.GNRL_ATRZ_TTL) LIKE CONCAT('%', LOWER(#{title}), '%') OR
			LOWER(ca.CLM_ATRZ_TTL) LIKE CONCAT('%', LOWER(#{title}), '%') OR
			LOWER(cga.ATRZ_TTL) LIKE CONCAT('%', LOWER(#{title}), '%') OR
			LOWER(va.VCATN_TY_CD) IN (SELECT CD_VALUE FROM CD WHERE LOWER(CD_NM) LIKE CONCAT('%', LOWER(#{title}), '%')) )
		</if>
	</select>

	<select id="elecAtrzMainCount" parameterType="String" resultType="com.trsystem.LowerHashMap">
		SELECT
			COUNT(DISTINCT CASE WHEN ea.ATRZ_DMND_STTS_CD = 'VTW03701' AND ea.ATRZ_DMND_EMP_ID = #{empId} THEN ea.ELCTRN_ATRZ_ID END) AS TEMP,
			COUNT(DISTINCT CASE WHEN ea.ATRZ_DMND_STTS_CD = 'VTW03702' AND ea.ATRZ_DMND_EMP_ID = #{empId} THEN ea.ELCTRN_ATRZ_ID END) AS PROGRESS,
			COUNT(DISTINCT CASE WHEN ea.ATRZ_DMND_STTS_CD = 'VTW03703' AND ea.ATRZ_DMND_EMP_ID = #{empId} THEN ea.ELCTRN_ATRZ_ID END) AS TERMINATED_MY,
			COUNT(DISTINCT CASE WHEN ea.ATRZ_DMND_STTS_CD = 'VTW03704' AND ea.ATRZ_DMND_EMP_ID = #{empId} THEN ea.ELCTRN_ATRZ_ID END) AS DENY,
			COUNT(DISTINCT CASE WHEN al.ATRZ_STTS_CD = 'VTW00801' AND al.APRVR_EMP_ID = #{empId} AND ea.NOW_ATRZ_LN_SN = al.ATRZ_LN_SN THEN al.ELCTRN_ATRZ_ID END) AS PROGRESS_APPROVAL,
			COUNT(DISTINCT CASE WHEN al.ATRZ_STTS_CD = 'VTW00802' AND al.APRVR_EMP_ID = #{empId} THEN CONCAT(al.ELCTRN_ATRZ_ID, '-', al.ATRZ_STEP_CD) END) AS TERMINATED_APRVR_EMP,
			COUNT(DISTINCT CASE WHEN ea.ATRZ_DMND_STTS_CD = 'VTW03702' AND rm.EMP_ID = #{empId} THEN rm.ELCTRN_ATRZ_ID END) AS PROGRESS_REFER,
			COUNT(DISTINCT CASE WHEN ea.ATRZ_DMND_STTS_CD = 'VTW03703' AND rm.EMP_ID = #{empId} THEN rm.ELCTRN_ATRZ_ID END) AS TERMINATED_REFER
		FROM ELCTRN_ATRZ ea
				 LEFT JOIN ATRZ_LN al ON ea.ELCTRN_ATRZ_ID = al.ELCTRN_ATRZ_ID
				 LEFT JOIN REFRN_MAN rm ON ea.ELCTRN_ATRZ_ID = rm.ELCTRN_ATRZ_ID
		WHERE ea.ATRZ_DMND_EMP_ID = #{empId}
		   OR al.APRVR_EMP_ID = #{empId}
		   OR rm.EMP_ID = #{empId}
	</select>

	<select id="retrieveAtrzLn" parameterType="map" resultType="com.trsystem.LowerHashMap">
		(
			SELECT
				ln.ATRZ_STEP_CD AS APPROVAL_CODE,
				cd.CD_NM AS ATRZ_STEP_CD_NM,
				cd2.CD_NM AS ATRZ_STTS_CD_NM,
				e.EMP_FLNM,
				(SELECT CD_NM FROM CD WHERE CD_VALUE = e.JBPS_CD) JBPS_NM,
				NULL AS LIST_EMP_FLNM,
				DATE_FORMAT(ln.MDFCN_DT, '%Y.%m.%d %H:%i:%s') AS MDFCN_DT,
				ln.RJCT_PRVONSH
			FROM ATRZ_LN ln
				LEFT JOIN EMP e ON ln.APRVR_EMP_ID = e.EMP_ID
				LEFT JOIN CD cd ON ln.ATRZ_STEP_CD = cd.CD_VALUE
				LEFT JOIN CD cd2 ON ln.ATRZ_STTS_CD = cd2.CD_VALUE
			WHERE 1=1
			  AND ln.ELCTRN_ATRZ_ID = #{elctrnAtrzId}
		)
		UNION ALL
		(
			SELECT
				rm.REFRN_CNCRRNC_CL_CD AS APPROVAL_CODE,
				NULL AS ATRZ_STEP_CD_NM,
				NULL AS ATRZ_STTS_CD_NM,
				NULL AS EMP_FLNM,
				NULL AS JBPS_NM,
				CONCAT(d.DEPT_NM, ' ', e.EMP_FLNM, ' ', (SELECT CD_NM FROM CD WHERE CD_VALUE = e.JBPS_CD)) LIST_EMP_FLNM,
				NULL AS APRV_YMD,
				NULL AS RJCT_PRVONSH
			FROM REFRN_MAN rm
					 LEFT JOIN EMP e ON rm.EMP_ID = e.EMP_ID
					 LEFT JOIN DEPT_HNF dh ON e.EMP_ID = dh.EMP_ID
					 LEFT JOIN DEPT d ON dh.DEPT_ID = d.DEPT_ID
			WHERE rm.ELCTRN_ATRZ_ID = #{elctrnAtrzId}
			AND rm.REFRN_CNCRRNC_CL_CD LIKE '%VTW00706'
		)
	</select>
	
	<select id="retrieveOutordCompanyPlan" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT 
      		  (SELECT OUTORD_ENTRPS_NM from OUTORD_ENTRPS oe WHERE oe.OUTORD_ENTRPS_ID = oep.OUTORD_ENTRPS_ID) as OUTORD_ENTRPS_NM
      		 , OUTORD_ENTRPS_ID 
   			 , OUTORD_ENTRPS_CT_PRMPC_SN 
   			 , TKCG_JOB
   			 , DTL_DTLS
   			 , CTRT_BGNG_YMD
   			 , CTRT_END_YMD
   			 , INPT_PRNMNT_HNF_CNT
   			 , EXPECT_CT			
		  FROM OUTORD_ENTRPS_CT_PRMPC oep
		  JOIN (SELECT MAX(BGT_MNG_ODR) AS BGT_MNG_ODR, PRJCT_ID 
		  		  FROM PRJCT_BGT_PRMPC
	 		 	 WHERE 1=1
		   		   AND ATRZ_DMND_STTS_CD = 'VTW03703'
			    GROUP BY PRJCT_ID) pbp ON (oep.PRJCT_ID = pbp.PRJCT_ID AND oep.BGT_MNG_ODR = pbp.BGT_MNG_ODR)
		  WHERE 1=1
		    AND oep.PRJCT_ID = #{prjctId}
	</select>
	
	<select id="retrieveRealOutordCompanyPlan" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT OUTORD_ENTRPS_ID AS PRDUCT_ID, 
				OUTORD_ENTRPS_NM AS PRDUCT_NM
				from OUTORD_ENTRPS
	</select>
	
	<select id="retrieveMaxAtrzLnSn" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT MAX(ATRZ_LN_SN) AS MAX_ATRZ_LN_SN
		FROM ATRZ_LN
		WHERE 1=1
		  AND ELCTRN_ATRZ_ID = #{elctrnAtrzId}
	</select>
	
	<select id="retrieveElctrnAtrzExpensClm" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT ROW_NUMBER() OVER() AS ROW_ID
		 , cd1.CD_NM AS CT_STLM_SE_CD_NM	
		 , CT_STLM_SE_CD
		 , RCIPT_PBLCN_YMD				
		 , cad.CNPT_NM	-- 거래처명
		 , cad.CLM_AMT
		 , cd2.CD_NM AS  EXPENS_CD_NM	
		 , cad.DTL_USE_DTLS
		 , cad.CLM_PRPOS
	  FROM CLM_ATRZ ca
	  JOIN CLM_ATRZ_DTL cad ON (ca.ELCTRN_ATRZ_ID = cad.ELCTRN_ATRZ_ID)
	  JOIN CD cd1 ON (cad.CT_STLM_SE_CD = cd1.CD_VALUE)
	  JOIN CD cd2 ON (cad.EXPENS_CD = cd2.CD_VALUE)
	WHERE 1=1
	   AND ca.ELCTRN_ATRZ_ID = #{elctrnAtrzId}
	</select>
	
    <select id="retrieveElecAtrzLn" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT ATRZ_STEP_CD
			 , ATRZ_LN_SN
			 , ATRZ_STTS_CD
			 , APRVR_EMP_ID
		  FROM ATRZ_LN al
		WHERE 1=1
		  AND ATRZ_LN_SN <![CDATA[ >= ]]> #{atrzLnSn}
		  AND ELCTRN_ATRZ_ID = #{elctrnAtrzId}
	</select>
	
	<select id="retrieveClmAtrzInfo" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT ea.ELCTRN_ATRZ_ID
			 , ea.PRJCT_ID
			 , ea.ATRZ_DMND_EMP_ID AS EMP_ID										-- 결재요청직원ID -> 직원ID(EMP_ID)
			 , ea.ATRZ_DMND_STTS_CD
			 , cad.EXPENS_CD														-- 경비코드
			 , COALESCE(cad.RCIPT_PBLCN_YMD, cad.TAX_BILL_PBLCN_YMD) AS UTZTN_DT	-- 영수증 발행일자 / 세금계산서 발행일자 -> 이용일시(UTZTN_DT)
			 , cad.CNPT_NM AS USE_OFFIC												-- 거래처명 -> 이용처 (USE_OFFIC)
			 , cad.CLM_AMT AS UTZTN_AMT												-- 청구금액 -> 이용금액 (UTZTN_AMT)
			 , cad.CLM_PRPOS AS ATDRN												-- 청구용도(참석자)
			 , cad.DTL_USE_DTLS	AS CT_PRPOS 										-- 상세사용내용 -> 비용용도(CT_PRPOS)
		 	 , cad.CT_STLM_SE_CD AS CT_ATRZ_SE_CD 									-- 비용결재구분코드 -> CT_ATRZ_SE_CD(비용결재구분코드)
			 , al.APRVR_EMP_ID														-- 결재자직원ID
		 	 , al.APRV_YMD															-- 승인일자
		  FROM ELCTRN_ATRZ ea
		  JOIN CLM_ATRZ_DTL cad ON (cad.ELCTRN_ATRZ_ID = ea.ELCTRN_ATRZ_ID)
		  JOIN ATRZ_LN al ON (ea.ELCTRN_ATRZ_ID = al.ELCTRN_ATRZ_ID AND ea.NOW_ATRZ_LN_SN = al.ATRZ_LN_SN)
		 WHERE 1=1
		   AND ea.ELCTRN_ATRZ_ID = #{elctrnAtrzId}
	</select>
	
	<select id="retrieveExpensCdByPrmpc" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT cd.CD_NM, ep.EXPENS_CD
		  FROM EXPENS_PRMPC ep
		  JOIN ( SELECT MAX(BGT_MNG_ODR) AS BGT_MNG_ODR FROM PRJCT_BGT_PRMPC pbp
				  WHERE 1=1
				    AND ATRZ_DMND_STTS_CD = 'VTW03703'
				    AND PRJCT_ID = #{prjctId}) pbp ON (ep.BGT_MNG_ODR = pbp.BGT_MNG_ODR)
		  JOIN CD cd ON (cd.CD_VALUE = ep.EXPENS_CD)
		 WHERE 1=1
		   AND PRJCT_ID = #{prjctId}
	</select>
	
</mapper>