<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.trsystem.mybatis.mapper.financialAffairMngMapper">

    <!--프로젝트청구현황개인별 수행인력-->
    <select id="retrievePrjctCtClmSttusIndvdlMMAccto" parameterType="map" resultType="com.trsystem.LowerHashMap">
        SELECT
            pma.EMP_ID,
            d.DEPT_NM,
            e.EMP_FLNM,
            CONCAT(SUBSTR(#{startYmOdr},1, 6),'-',SUBSTR(#{startYmOdr}, 7, 1)) AS START_APLY_ODR,
            CONCAT(SUBSTR(#{endYmOdr},1, 6),'-',SUBSTR(#{endYmOdr}, 7, 1)) AS END_APLY_ODR,
            mm.EXPECT_MM,
            (
                SELECT SUM(a.MD*8) / 80
                FROM PRJCT_MM_APLY a
                WHERE a.PRJCT_ID = pma.PRJCT_ID
                GROUP BY a.PRJCT_ID
            ) AS TOTAL_MD_SUM,
            (mm.EXPECT_MM - (
                SELECT SUM(a.MD*8) / 80
                FROM PRJCT_MM_APLY a
                WHERE a.PRJCT_ID = pma.PRJCT_ID
                GROUP BY a.PRJCT_ID
            )) AS USE_MM,
            SUM(pma.MD*8) AS CLM_MD
        FROM PRJCT_MM_APLY pma
        JOIN PRJCT_INDVDL_CT_MM picm
            ON pma.PRJCT_ID = picm.PRJCT_ID
            AND pma.EMP_ID = picm.EMP_ID
            AND pma.APLY_YM = picm.APLY_YM
            AND pma.APLY_ODR = picm.APLY_ODR
            AND picm.MM_ATRZ_CMPTN_YN = 'Y'
        JOIN EMP e
            ON e.EMP_ID = picm.EMP_ID
        JOIN DEPT_HNF dh
            ON dh.EMP_ID = picm.EMP_ID
        JOIN DEPT d
            ON d.DEPT_ID = dh.DEPT_ID
        JOIN (
            SELECT
            mlp.EMP_ID,
            mim.EXPECT_MM,
            mlp.PRJCT_ID,
            mim.INPT_YM
            FROM MMNY_LBRCO_PRMPC mlp
            JOIN MMNY_INPT_MM mim
            ON mlp.PRJCT_ID = mim.PRJCT_ID
            AND mlp.BGT_MNG_ODR = mim.BGT_MNG_ODR
            AND mlp.MMNY_LBRCO_PRMPC_SN = mim.MMNY_LBRCO_PRMPC_SN
        ) mm
            ON mm.PRJCT_ID = picm.PRJCT_ID
            AND mm.EMP_ID = picm.EMP_ID
        WHERE 1 = 1
        <if test="prjctId != null and !prjctId.equals('')">
            AND pma.PRJCT_ID = #{prjctId}
        </if>
        <if test="empFlnm != null and !empFlnm.equals('')">
            AND e.EMP_FLNM = #{empFlnm}
        </if>
        <if test="(startYmOdr != null and !startYmOdr.equals('')) and (endYmOdr != null and !endYmOdr.equals(''))">
            AND CONCAT(pma.APLY_YM, pma.APLY_ODR) BETWEEN #{startYmOdr} AND #{endYmOdr}
        </if>
        <if test="empId != null and !empId.equals('')">
            AND pma.EMP_ID = #{empId}
        </if>
        GROUP BY pma.EMP_ID, d.DEPT_NM, e.EMP_FLNM, START_APLY_ODR, END_APLY_ODR, mm.EXPECT_MM, USE_MM
    </select>

    <!--프로젝트청구현황개인별 경비-->
    <select id="retrievePrjctCtClmSttusIndvdlCtAccto" parameterType="map" resultType="com.trsystem.LowerHashMap">
        SELECT
            (SELECT CD_NM FROM nwTr.CD cd WHERE UP_CD_VALUE = 'VTW045' AND CD_VALUE = pca.EXPENS_CD) AS EXPENS_NM,
            pca.EXPENS_CD,
            CONCAT(SUBSTR(#{startYmOdr},1, 6),'-',SUBSTR(#{startYmOdr}, 7, 1)) AS START_APLY_ODR,
            CONCAT(SUBSTR(#{endYmOdr},1, 6),'-',SUBSTR(#{endYmOdr}, 7, 1)) AS END_APLY_ODR,
            (
                SELECT SUM(a.UTZTN_AMT)
                FROM PRJCT_CT_APLY a
                WHERE a.EXPENS_CD = pca.EXPENS_CD
                AND a.PRJCT_ID = pca.PRJCT_ID
                GROUP BY a.EXPENS_CD
            ) AS TOTAL_AMT_SUM,
            SUM(pca.UTZTN_AMT) AS TOTAL_AMT
        FROM PRJCT_CT_APLY pca
        JOIN PRJCT_INDVDL_CT_MM picm
            ON pca.PRJCT_ID = picm.PRJCT_ID
            AND pca.EMP_ID  = picm.EMP_ID
            AND pca.APLY_YM = picm.APLY_YM
            AND pca.APLY_ODR = picm.APLY_ODR
            AND picm.CT_ATRZ_CMPTN_YN = 'Y'
        WHERE 1 = 1
        <if test="prjctId != null and !prjctId.equals('')">
            AND pca.PRJCT_ID = #{prjctId}
        </if>
        <if test="(startYmOdr != null and !startYmOdr.equals('')) and (endYmOdr != null and !endYmOdr.equals(''))">
            AND CONCAT(pca.APLY_YM, pca.APLY_ODR) BETWEEN #{startYmOdr} AND #{endYmOdr}
        </if>
        <if test="expensCd != null and !expensCd.equals('')">
            AND pca.EXPENS_CD = #{expensCd}
        </if>
        GROUP BY TOTAL_AMT_SUM, EXPENS_CD, START_APLY_ODR, END_APLY_ODR
    </select>

    <!-- 프로젝트청구현황개인별 수행인력 팝업 -->
    <select id="retrievePrjctCtClmSttusIndvdlMMAcctoDetail" parameterType="map" resultType="com.trsystem.LowerHashMap">
        SELECT
            pma.MD*8,
            CONCAT(pma.MD*8, 'hrs | ', e.EMP_FLNM, '(', c.CD_NM, ')') AS TEXT,
            c.CD_NM AS ATRZ_DMND_STTS_NM ,
            DATE_FORMAT(pma.APLY_YMD, '%Y-%m-%d') AS START_DATE,
            DATE_FORMAT(pma.APLY_YMD,'%Y-%m-%d') AS END_DATE,
            (SELECT EMP_FLNM FROM EMP WHERE EMP_ID = pah.APRVR_EMP_ID) AS APRVR_EMP_FLNM,
            d.DEPT_NM
        FROM PRJCT_MM_APLY pma
        JOIN PRJCT_MM_ATRZ pah
            ON pma.PRJCT_ID = pah.PRJCT_ID
            AND pma.EMP_ID = pah.EMP_ID
            AND pma.APLY_YM = pah.APLY_YM
            AND pma.APLY_ODR = pah.APLY_ODR
            AND pah.ATRZ_DMND_STTS_CD = 'VTW03703' -- 결재요청상태코드 : 승인
        JOIN EMP e
            ON pma.EMP_ID = e.EMP_ID
        JOIN CD c
            ON pah.ATRZ_DMND_STTS_CD = c.CD_VALUE
        JOIN DEPT_HNF dh
            ON dh.EMP_ID = e.EMP_ID
        JOIN DEPT d
            ON d.DEPT_ID = dh.DEPT_ID
        WHERE 1 = 1
        <if test="prjctId != null and !prjctId.equals('')">
            AND pma.PRJCT_ID = #{prjctId}
        </if>
        <if test="(startYmOdr != null and !startYmOdr.equals('')) and (endYmOdr != null and !endYmOdr.equals(''))">
            AND CONCAT(pma.APLY_YM, pma.APLY_ODR) BETWEEN #{startYmOdr} AND #{endYmOdr}
        </if>
        <if test="empId != null and !empId.equals('')">
            AND pma.EMP_ID = #{empId}
        </if>
    </select>

    <!-- 프로젝트청구현황개인별 경비팝업 -->
    <select id="retrievePrjctCtClmSttusIndvdlCtAcctoDetail" parameterType="map" resultType="com.trsystem.LowerHashMap">
        SELECT
            PIVOT_DATE,
            COALESCE(APLY_YMD, '') AS APLY_YMD,
            COALESCE(PRJCT_NM, 'null_project') AS PRJCT_NM,
            COALESCE(EMP_FLNM, 'null_flnm') AS EMP_FLNM,
            COALESCE(EMP_DETAIL, 'null_detail') AS EMP_DETAIL,
            COALESCE(CD_NM, 'null_cd') AS CD_NM,
            COALESCE(UTZTN_AMT, '') AS UTZTN_AMT
        FROM (
            WITH RECURSIVE a AS (
                SELECT CAST(CONCAT(SUBSTR(#{startYmOdr},1, 6), '01') AS DATE) AS PIVOT_DATE
                UNION ALL
                SELECT DATE_ADD(PIVOT_DATE, INTERVAL 1 DAY)
                FROM a
                WHERE DATE_ADD(PIVOT_DATE, INTERVAL 1 DAY) &lt; CAST(CONCAT(SUBSTR(#{endYmOdr}, 1, 6), '01') AS DATE) + INTERVAL 1 MONTH
            ), b AS (
                SELECT
                    CONCAT(SUBSTR(b.UTZTN_DT, 1, 4),'-',SUBSTR(b.UTZTN_DT, 5, 2),'-',SUBSTR(b.UTZTN_DT, 7, 2)) AS APLY_YMD,
                    p.PRJCT_NM,
                    (SELECT EMP_FLNM FROM nwTr.EMP emp WHERE EMP_ID = b.EMP_ID) AS EMP_FLNM,
                    CONCAT('상세내역 : ', b.CT_PRPOS, ' | 용도 : ', b.ATDRN) AS EMP_DETAIL,
                    null AS MD,
                    (SELECT CD_NM FROM nwTr.CD cd WHERE UP_CD_VALUE = 'VTW045' AND CD_VALUE = b.EXPENS_CD) AS CD_NM,
                    b.UTZTN_AMT,
                    b.USE_OFFIC,
                    b.CT_PRPOS,
                    b.ATDRN
                FROM nwTr.PRJCT_INDVDL_CT_MM a, nwTr.PRJCT_CT_APLY b
                JOIN PRJCT p
                ON b.PRJCT_ID = p.PRJCT_ID
                WHERE 1 = 1
                AND a.PRJCT_ID = b.PRJCT_ID
                AND a.APLY_YM = b.APLY_YM
                AND a.APLY_ODR = b.APLY_ODR
                AND a.EMP_ID = b.EMP_ID
                AND a.CT_ATRZ_CMPTN_YN = 'Y'
                <if test="prjctId != null and !prjctId.equals('')">
                    AND a.PRJCT_ID = #{prjctId}
                </if>
                <if test="(startYmOdr != null and !startYmOdr.equals('')) and (endYmOdr != null and !endYmOdr.equals(''))">
                    AND CONCAT(a.APLY_YM, a.APLY_ODR) BETWEEN #{startYmOdr} AND #{endYmOdr}
                </if>
                <if test="expensCd != null and !expensCd.equals('')">
                    AND b.EXPENS_CD = #{expensCd}
                </if>
            )
            SELECT * FROM (
                SELECT *
                FROM a
                WHERE (
                    (SUBSTR(#{startYmOdr},7, 1) = 1 AND PIVOT_DATE >= CONCAT(SUBSTR(#{startYmOdr},1, 6), '01')) OR
                    (SUBSTR(#{startYmOdr},7, 1) = 2 AND PIVOT_DATE >= CONCAT(SUBSTR(#{startYmOdr},1, 6), '16'))
                ) AND (
                    (SUBSTR(#{endYmOdr},7, 1) = 1 AND PIVOT_DATE &lt;= CONCAT(SUBSTR(#{endYmOdr},1, 6), '15')) OR
                    (CONCAT(SUBSTR(#{endYmOdr}, 7, 1) = 2 AND PIVOT_DATE &lt;= LAST_DAY(CAST(CONCAT(SUBSTR(#{endYmOdr}, 1, 6), '01') AS DATE))))
                )
            ) c
            LEFT JOIN b
                ON c.PIVOT_DATE = b.APLY_YMD
        ) a
        ORDER BY PIVOT_DATE
    </select>

    <!-- 프로젝트청구현황일자별 -->
    <select id="retrievePrjctCtClmYMDAccto" parameterType="map" resultType="com.trsystem.LowerHashMap">
        SELECT
            PIVOT_DATE,
            COALESCE(APLY_YMD, '') AS APLY_YMD,
            COALESCE(PRJCT_NM, 'null_project') AS PRJCT_NM,
            COALESCE(EMP_FLNM, 'null_flnm') AS EMP_FLNM,
            COALESCE(EMP_DETAIL, 'null_detail') AS EMP_DETAIL,
            COALESCE(MD, '') AS MD,
            COALESCE(CD_NM, 'null_cd') AS CD_NM,
            COALESCE(UTZTN_AMT, '') AS UTZTN_AMT,
            COALESCE(USE_OFFIC, '') AS USE_OFFIC,
            COALESCE(CT_PRPOS, '') AS CT_PRPOS,
            COALESCE(ATDRN, '') AS ATDRN
        FROM (
        WITH RECURSIVE a AS (
            SELECT
                CONCAT(SUBSTR(b.APLY_YMD, 1, 4),'-',SUBSTR(b.APLY_YMD, 5, 2),'-',SUBSTR(b.APLY_YMD, 7, 2)) AS APLY_YMD,
                p.PRJCT_NM,
                (SELECT EMP_FLNM FROM nwTr.EMP emp WHERE EMP_ID = b.EMP_ID) AS EMP_FLNM,
                '' AS EMP_DETAIL,
                FORMAT(b.MD*8, 1) AS MD,
                '근무 시간' AS CD_NM,
                null AS UTZTN_AMT,
                null AS USE_OFFIC,
                null AS CT_PRPOS,
                null AS ATDRN
            FROM nwTr.PRJCT_INDVDL_CT_MM a, nwTr.PRJCT_MM_APLY b
            JOIN PRJCT p
                ON b.PRJCT_ID = p.PRJCT_ID
            WHERE 1 = 1
                AND a.PRJCT_ID = b.PRJCT_ID
                AND a.APLY_YM = b.APLY_YM
                AND a.APLY_ODR = b.APLY_ODR
                AND a.EMP_ID = b.EMP_ID
                AND a.MM_ATRZ_CMPTN_YN = 'Y'
            <if test="prjctId != null and !prjctId.equals('')">
                AND a.PRJCT_ID = #{prjctId}
            </if>
            <if test="empId != null and !empId.equals('')">
                AND a.EMP_ID = #{empId}
            </if>
            <if test="(startYmOdr != null and !startYmOdr.equals('')) and (endYmOdr != null and !endYmOdr.equals(''))">
                AND CONCAT(a.APLY_YM, a.APLY_ODR) BETWEEN #{startYmOdr} AND #{endYmOdr}
            </if>
        ), b AS (
            SELECT
                CONCAT(SUBSTR(b.UTZTN_DT, 1, 4),'-',SUBSTR(b.UTZTN_DT, 5, 2),'-',SUBSTR(b.UTZTN_DT, 7, 2)) AS APLY_YMD,
                p.PRJCT_NM,
                (SELECT EMP_FLNM FROM nwTr.EMP emp WHERE EMP_ID = b.EMP_ID) AS EMP_FLNM,
                CONCAT('상세내역 : ', b.CT_PRPOS, ' | 용도 : ', b.ATDRN) AS EMP_DETAIL,
                null AS MD,
                (SELECT CD_NM FROM nwTr.CD cd WHERE UP_CD_VALUE = 'VTW045' AND CD_VALUE = b.EXPENS_CD) AS CD_NM,
                b.UTZTN_AMT,
                b.USE_OFFIC,
                b.CT_PRPOS,
                b.ATDRN
            FROM nwTr.PRJCT_INDVDL_CT_MM a, nwTr.PRJCT_CT_APLY b
            JOIN PRJCT p
                ON b.PRJCT_ID = p.PRJCT_ID
            WHERE 1 = 1
                AND a.PRJCT_ID = b.PRJCT_ID
                AND a.APLY_YM = b.APLY_YM
                AND a.APLY_ODR = b.APLY_ODR
                AND a.EMP_ID = b.EMP_ID
                AND a.MM_ATRZ_CMPTN_YN = 'Y'
            <if test="prjctId != null and !prjctId.equals('')">
                AND a.PRJCT_ID = #{prjctId}
            </if>
            <if test="empId != null and !empId.equals('')">
                AND a.EMP_ID = #{empId}
            </if>
            <if test="(startYmOdr != null and !startYmOdr.equals('')) and (endYmOdr != null and !endYmOdr.equals(''))">
                AND CONCAT(a.APLY_YM, a.APLY_ODR) BETWEEN #{startYmOdr} AND #{endYmOdr}
            </if>
        ), c AS (
            SELECT CAST(CONCAT(SUBSTR(#{startYmOdr},1, 6), '01') AS DATE) AS PIVOT_DATE
            UNION ALL
            SELECT DATE_ADD(PIVOT_DATE, INTERVAL 1 DAY)
            FROM c
            WHERE DATE_ADD(PIVOT_DATE, INTERVAL 1 DAY) &lt; CAST(CONCAT(SUBSTR(#{endYmOdr}, 1, 6), '01') AS DATE) + INTERVAL 1 MONTH
        )
        SELECT * FROM (
            SELECT *
            FROM c
            WHERE (
                (SUBSTR(#{startYmOdr},7, 1) = 1 AND PIVOT_DATE >= CONCAT(SUBSTR(#{startYmOdr},1, 6), '01')) OR
                (SUBSTR(#{startYmOdr},7, 1) = 2 AND PIVOT_DATE >= CONCAT(SUBSTR(#{startYmOdr},1, 6), '16'))
                ) AND (
                (SUBSTR(#{endYmOdr},7, 1) = 1 AND PIVOT_DATE &lt;= CONCAT(SUBSTR(#{endYmOdr},1, 6), '15')) OR
                (CONCAT(SUBSTR(#{endYmOdr}, 7, 1) = 2 AND PIVOT_DATE &lt;= LAST_DAY(CAST(CONCAT(SUBSTR(#{endYmOdr}, 1, 6), '01') AS DATE))))
            )
        ) d
        LEFT JOIN a
            ON d.PIVOT_DATE = a.APLY_YMD
        UNION
        SELECT * FROM (
            SELECT *
            FROM c
            WHERE (
                (SUBSTR(#{startYmOdr},7, 1) = 1 AND PIVOT_DATE >= CONCAT(SUBSTR(#{startYmOdr},1, 6), '01')) OR
                (SUBSTR(#{startYmOdr},7, 1) = 2 AND PIVOT_DATE >= CONCAT(SUBSTR(#{startYmOdr},1, 6), '16'))
                ) AND (
                (SUBSTR(#{endYmOdr},7, 1) = 1 AND PIVOT_DATE &lt;= CONCAT(SUBSTR(#{endYmOdr},1, 6), '15')) OR
                (CONCAT(SUBSTR(#{endYmOdr}, 7, 1) = 2 AND PIVOT_DATE &lt;= LAST_DAY(CAST(CONCAT(SUBSTR(#{endYmOdr}, 1, 6), '01') AS DATE))))
            )
        ) d
        LEFT JOIN b
        ON d.PIVOT_DATE = b.APLY_YMD
        ) a
        ORDER BY PIVOT_DATE
    </select>

    <!-- 날짜 목록 -->
    <select id="retrieveDays" parameterType="map" resultType="com.trsystem.LowerHashMap">
    WITH RECURSIVE a AS (
        SELECT CAST(CONCAT(#{aplyYm}, '01') AS DATE) AS PIVOT_DATE
        UNION ALL
        SELECT DATE_ADD(PIVOT_DATE, INTERVAL 1 DAY)
        FROM a
        WHERE DATE_ADD(PIVOT_DATE, INTERVAL 1 DAY) &lt; CAST(CONCAT(#{aplyYm}, '01') AS DATE) + INTERVAL 1 MONTH
    )
    SELECT *
    FROM a
    <if test="aplyOdr != null and !aplyOdr.equals('')">
        WHERE (
        #{aplyOdr} = 1 AND DAY(PIVOT_DATE) &lt;= 15
        ) OR (
        #{aplyOdr} = 2 AND DAY(PIVOT_DATE) > 15 AND DAY(PIVOT_DATE) &lt;= DAY(LAST_DAY(PIVOT_DATE)))
    </if>
    </select>

    <!-- 경비 승인내역 -->
    <select id="retrieveExpensAprvDtls" parameterType="map" resultType="com.trsystem.LowerHashMap">
<!--        SELECT-->
<!--            PIVOT_DATE,-->
<!--            COALESCE(b.PRJCT_NM, 'null_project') AS PRJCT_NM,-->
<!--            COALESCE(b.EXPENS_CD, 'null_Cd') AS EXPENS_CD,-->
<!--            COALESCE(b.EMP_FLNM, 'null_flnm') AS EMP_FLNM,-->
<!--            COALESCE(b.PRJCT_DETAIL, 'null_info') AS PRJCT_DETAIL,-->
<!--            COALESCE(b.EMP_DETAIL, 'null_info') AS EMP_DETAIL,-->
<!--            COALESCE(b.UTZTN_AMT, 'null_amt') AS UTZTN_AMT,-->
<!--            COALESCE(b.UTZTN_DT, 'null_dt') AS UTZTN_DT-->
<!--        FROM (-->
<!--            WITH RECURSIVE a AS (-->
<!--            SELECT CAST(CONCAT(#{aplyYm}, '01') AS DATE) AS PIVOT_DATE-->
<!--            UNION ALL-->
<!--            SELECT DATE_ADD(PIVOT_DATE, INTERVAL 1 DAY)-->
<!--            FROM a-->
<!--            WHERE DATE_ADD(PIVOT_DATE, INTERVAL 1 DAY) &lt; CAST(CONCAT(#{aplyYm}, '01') AS DATE) + INTERVAL 1 MONTH-->
<!--        )-->
<!--        SELECT *-->
<!--        FROM a-->
<!--        <if test="aplyOdr != null and !aplyOdr.equals('')">-->
<!--            WHERE (-->
<!--            #{aplyOdr} = 1 AND DAY(PIVOT_DATE) &lt;= 15-->
<!--            ) OR (-->
<!--            #{aplyOdr} = 2 AND DAY(PIVOT_DATE) > 15 AND DAY(PIVOT_DATE) &lt;= DAY(LAST_DAY(PIVOT_DATE)))-->
<!--        </if>-->
<!--        ) a-->
<!--        LEFT JOIN (-->
            SELECT
                CONCAT(p.PRJCT_NM, ' (PM : ', (SELECT EMP_FLNM FROM EMP WHERE EMP_ID = pah.APRVR_EMP_ID), ')') AS PRJCT_NM,
                (SELECT CD_NM FROM CD WHERE CD_VALUE = pca.EXPENS_CD) AS EXPENS_CD,
                e.EMP_FLNM,
                CONCAT(e.EMP_FLNM, ' | 상세내역 : ', pca.CT_PRPOS, ' | 용도 : ', pca.ATDRN) AS PRJCT_DETAIL,
                CONCAT('상세내역 : ', pca.CT_PRPOS, ' | 용도 : ', pca.ATDRN) AS EMP_DETAIL,
                pca.UTZTN_AMT,
                CONCAT(SUBSTR(pca.UTZTN_DT, 1, 4),'-',SUBSTR(pca.UTZTN_DT, 5, 2),'-',SUBSTR(pca.UTZTN_DT, 7, 2)) AS UTZTN_DT
            FROM PRJCT_CT_APLY pca
            JOIN PRJCT_CT_ATRZ pah
                ON pca.PRJCT_ID = pah.PRJCT_ID
                AND pca.EMP_ID = pah.EMP_ID
                AND pca.APLY_YM = pah.APLY_YM
                AND pca.APLY_ODR = pah.APLY_ODR
                AND pah.ATRZ_DMND_STTS_CD = 'VTW03703' -- 결재요청상태코드 : 승인
            JOIN EMP e
                ON pca.EMP_ID = e.EMP_ID
            JOIN CD c
                ON pah.ATRZ_DMND_STTS_CD = c.CD_VALUE
            JOIN PRJCT p
                ON pca.PRJCT_ID = p.PRJCT_ID
            WHERE 1 = 1
            <if test="prjctId != null and !prjctId.equals('')">
                AND pca.PRJCT_ID = #{prjctId}
            </if>
            <if test="aplyYm != null and !aplyYm.equals('')">
                AND pca.APLY_YM = #{aplyYm}
            </if>
            <if test="aplyOdr != null and !aplyOdr.equals('')">
                AND pca.APLY_ODR = #{aplyOdr}
            </if>
            <if test="empNo != null and !empNo.equals('')">
                AND e.EMPNO = #{empNo}
            </if>
            <if test="expensCd != null and !expensCd.equals('')">
                AND pca.EXPENS_CD = #{expensCd}
            </if>
--         ) b
--         ON a.PIVOT_DATE = b.UTZTN_DT
--         ORDER BY PIVOT_DATE
    </select>

    <!--근무시간비용 입력현황 total조회-->
    <select id="retrieveTotWorkHrCtInptSttus" parameterType="map" resultType="com.trsystem.LowerHashMap">
        SELECT
            ALL_VTW,
            MM_03701,
            (ALL_VTW - MM_03701) AS MM_03701_MIN,
            MM_03702,
            (MM_03701 - MM_03702) AS MM_03702_MIN,
            MM_037034,
            (MM_03702 - MM_037034) AS MM_037034_MIN,
            CT_03701,
            (ALL_VTW - CT_03701) AS CT_03701_MIN,
            CT_03702,
            (CT_03701 - CT_03702) AS CT_03702_MIN,
            CT_037034,
            (CT_03702 - CT_037034) AS CT_037034_MIN
        FROM (
            SELECT COUNT(1) AS ALL_VTW
            FROM EMP e
            WHERE 1 = 1
            <if test="hdofSttsCd != null and !hdofSttsCd.equals('')">
                AND HDOF_STTS_CD = #{hdofSttsCd}
            </if>
            <if test="empId != null and !empId.equals('')">
                AND EMP_ID = #{empId}
            </if>
        ) a, (
            SELECT
                COUNT(DISTINCT CASE WHEN pah.ATRZ_DMND_STTS_CD IN ('VTW03701','VTW03702','VTW03703','VTW03704') THEN pma.EMP_ID END) AS MM_03701,
                COUNT(DISTINCT CASE WHEN pah.ATRZ_DMND_STTS_CD IN ('VTW03702','VTW03703','VTW03704') THEN pma.EMP_ID END) AS MM_03702,
                COUNT(DISTINCT CASE WHEN pah.ATRZ_DMND_STTS_CD IN ('VTW03703','VTW03704') THEN pma.EMP_ID END) AS MM_037034
            FROM PRJCT_MM_APLY pma
            JOIN PRJCT_MM_ATRZ pah
                ON pma.PRJCT_ID = pah.PRJCT_ID
                AND pma.EMP_ID = pah.EMP_ID
                AND pma.APLY_YM = pah.APLY_YM
                AND pma.APLY_ODR = pah.APLY_ODR
--                 AND pah.PRJCT_ATRZ_HIST_SN = (
--                     SELECT MAX(PRJCT_ATRZ_HIST_SN)
--                     FROM PRJCT_ATRZ_HIST a
--                     WHERE a.PRJCT_ID = pah.PRJCT_ID
--                         AND a.EMP_ID = pah.EMP_ID
--                         AND a.APLY_YM = pah.APLY_YM
--                         AND a.APLY_ODR = pah.APLY_ODR
--             )
            WHERE 1 = 1
            <if test="aplyYm != null and !aplyYm.equals('')">
                AND pma.APLY_YM = #{aplyYm}
            </if>
            <if test="aplyOdr != null and !aplyOdr.equals('')">
                AND pma.APLY_ODR = #{aplyOdr}
            </if>
            <if test="hdofSttsCd != null and !hdofSttsCd.equals('')">
                AND pma.EMP_ID IN (SELECT EMP_ID FROM EMP WHERE HDOF_STTS_CD = #{hdofSttsCd})
            </if>
            <if test="empId != null and !empId.equals('')">
                AND pma.EMP_ID = #{empId}
            </if>
        ) b, (
            SELECT
                COUNT(DISTINCT CASE WHEN pah.ATRZ_DMND_STTS_CD IN ('VTW03701','VTW03702','VTW03703','VTW03704') THEN pca.EMP_ID END) AS CT_03701,
                COUNT(DISTINCT CASE WHEN pah.ATRZ_DMND_STTS_CD IN ('VTW03702','VTW03703','VTW03704') THEN pca.EMP_ID END) AS CT_03702,
                COUNT(DISTINCT CASE WHEN pah.ATRZ_DMND_STTS_CD IN ('VTW03703','VTW03704') THEN pca.EMP_ID END) AS CT_037034
            FROM PRJCT_CT_APLY pca
            JOIN PRJCT_CT_ATRZ pah
                ON pca.PRJCT_ID = pah.PRJCT_ID
                AND pca.EMP_ID = pah.EMP_ID
                AND pca.APLY_YM = pah.APLY_YM
                AND pca.APLY_ODR = pah.APLY_ODR
                AND pah.PRJCT_CT_APLY_SN = (
                    SELECT MAX(PRJCT_CT_APLY_SN)
                    FROM PRJCT_CT_ATRZ a
                    WHERE a.PRJCT_ID = pah.PRJCT_ID
                        AND a.EMP_ID = pah.EMP_ID
                        AND a.APLY_YM = pah.APLY_YM
                        AND a.APLY_ODR = pah.APLY_ODR
            )
            WHERE 1 = 1
            <if test="aplyYm != null and !aplyYm.equals('')">
                AND pca.APLY_YM = #{aplyYm}
            </if>
            <if test="aplyOdr != null and !aplyOdr.equals('')">
                AND pca.APLY_ODR = #{aplyOdr}
            </if>
            <if test="hdofSttsCd != null and !hdofSttsCd.equals('')">
                AND pca.EMP_ID IN (SELECT EMP_ID FROM EMP WHERE HDOF_STTS_CD = #{hdofSttsCd})
            </if>
            <if test="empId != null and !empId.equals('')">
                AND pca.EMP_ID = #{empId}
            </if>
        ) c
    </select>

    <!--근무시간비용 입력현황 세부 조회-->
    <select id="retrieveWorkHrCtInptSttus" parameterType="map" resultType="com.trsystem.LowerHashMap">
        SELECT
            AA.EMPNO
            , AA.EMP_ID
            , AA.EMP_FLNM
            , (SELECT CD_NM FROM CD WHERE CD_VALUE = AA.JBPS_CD) AS JBPS_NM
            , (
                SELECT DEPT_NM
                FROM DEPT
                WHERE DEPT_ID = (SELECT dh.DEPT_ID FROM DEPT_HNF dh WHERE dh.EMP_ID = AA.EMP_ID LIMIT 1)
            )AS DEPT_NM
            , AA.TELNO
            , (SELECT CD_NM FROM CD WHERE CD_VALUE = AA.HDOF_STTS_CD) AS HDOF_STTS_NM
            , IFNULL(BB.CNT,0)AS CNT
            , (CASE WHEN BB.ATRZ_DMND_STTS_CD = 'VTW03704' THEN BB.CNT  ELSE 0 END) AS PRJ_REJECT
            , (CASE WHEN BB.ATRZ_DMND_STTS_CD = 'VTW03703' THEN BB.CNT  ELSE 0 END) AS PRJ_COMPLETE
            , IFNULL(CC.MD_SUM,0)*8 AS MD_SUM
            , IFNULL(CC.VAC_SUM,0)*8 AS VAC_SUM
            , (CASE WHEN CC.ATRZ_DMND_STTS_CD = 'VTW03704' THEN CC.MD_SUM  ELSE 0 END)*8  AS MM_REJECT
            , (CASE WHEN CC.ATRZ_DMND_STTS_CD = 'VTW03703' THEN CC.MD_SUM  ELSE 0 END)*8 AS MM_COMPLETE
        FROM EMP AA
        LEFT OUTER JOIN (
            SELECT T1.PRJCT_ID , T1.EMP_ID , T1.APLY_YM , T1.APLY_ODR ,T2.ATRZ_DMND_STTS_CD, count(1) AS CNT
            FROM PRJCT_CT_APLY T1
            JOIN (
                SELECT A.PRJCT_ID , A.EMP_ID , A.APLY_YM , A.APLY_ODR, B.PRJCT_CT_APLY_SN, B.ATRZ_DMND_STTS_CD
                FROM PRJCT_INDVDL_CT_MM A
                LEFT OUTER JOIN PRJCT_CT_ATRZ B
                    ON A.PRJCT_ID = B.PRJCT_ID
                    AND A.EMP_ID = B.EMP_ID
                    AND A.APLY_YM = B.APLY_YM
                    AND A.APLY_ODR = B.APLY_ODR
                     WHERE B.PRJCT_CT_APLY_SN  = (
                         SELECT max(PRJCT_CT_APLY_SN)
                         FROM PRJCT_CT_ATRZ C
                         WHERE A.PRJCT_ID = C.PRJCT_ID
                         AND A.EMP_ID = C.EMP_ID
                         AND A.APLY_YM = C.APLY_YM
                         AND A.APLY_ODR = C.APLY_ODR
                    )
            ) T2
                ON T1.PRJCT_ID = T2.PRJCT_ID
                AND T1.EMP_ID  = T2.EMP_ID
                AND T1.APLY_YM = T2.APLY_YM
                AND T1.APLY_ODR = T2.APLY_ODR
                AND T1.APLY_YM = #{aplyYm}
                AND T1.APLY_ODR= #{aplyOdr}
            GROUP BY T1.PRJCT_ID , T1.EMP_ID , T1.APLY_YM , T1.APLY_ODR ,T2.ATRZ_DMND_STTS_CD
        ) BB
            ON BB.EMP_ID = AA.EMP_ID
        LEFT OUTER JOIN (
            SELECT T1.PRJCT_ID , T1.EMP_ID , T1.APLY_YM , T1.APLY_ODR ,T2.ATRZ_DMND_STTS_CD, SUM(COALESCE(T1.MD, 0)) AS MD_SUM, SUM(COALESCE(T1.YRYC_RATE , 0)) AS VAC_SUM
            FROM PRJCT_MM_APLY T1
            JOIN (
                SELECT A.PRJCT_ID , A.EMP_ID , A.APLY_YM , A.APLY_ODR, B.ATRZ_DMND_STTS_CD
                FROM PRJCT_INDVDL_CT_MM A
                LEFT OUTER JOIN PRJCT_MM_ATRZ B
                    ON A.PRJCT_ID = B.PRJCT_ID
                    AND A.EMP_ID = B.EMP_ID
                    AND A.APLY_YM = B.APLY_YM
                    AND A.APLY_ODR = B.APLY_ODR
--                     WHERE B.PRJCT_ATRZ_HIST_SN  = (
--                         SELECT max(PRJCT_ATRZ_HIST_SN)
--                         FROM PRJCT_ATRZ_HIST C
--                         WHERE A.PRJCT_ID = C.PRJCT_ID
--                         AND A.EMP_ID = C.EMP_ID
--                         AND A.APLY_YM = C.APLY_YM
--                         AND A.APLY_ODR = C.APLY_ODR
                    )
            ) T2
                ON T1.PRJCT_ID = T2.PRJCT_ID
                AND T1.EMP_ID  = T2.EMP_ID
                AND T1.APLY_YM = T2.APLY_YM
                AND T1.APLY_ODR = T2.APLY_ODR
                AND T1.APLY_YM = #{aplyYm}
                AND T1.APLY_ODR= #{aplyOdr}
            GROUP BY T1.PRJCT_ID , T1.EMP_ID , T1.APLY_YM , T1.APLY_ODR, T2.ATRZ_DMND_STTS_CD
        ) CC
            ON CC.EMP_ID = AA.EMP_ID
        WHERE 1 = 1
        <if test="hdofSttsCd != null and !hdofSttsCd.equals('')">
            AND AA.HDOF_STTS_CD = #{hdofSttsCd}
        </if>
        <if test="empId != null and empId !=''">
            AND AA.EMP_ID = #{empId}
        </if>
    </select>

    <!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
    <!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
    <!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->


    <!--근무시간 승인 내역 -->
    <select id="retrievePrjctMmAplyList" parameterType="map" resultType="com.trsystem.LowerHashMap">
        SELECT
        P.PRJCT_ID AS PRJCT_ID,
        DATE_FORMAT(PMA.APLY_YMD , '%Y-%m-%d') AS APLY_YMD,
        P.PRJCT_NM AS PRJCT_NM,
        E.EMP_FLNM AS EMP_FLNM,
        CASE
        WHEN PMA.MD = 1 THEN 8
        WHEN PMA.MD = 0.5 THEN 4
        ELSE 0
        END AS MD
        FROM PRJCT_MM_APLY PMA, PRJCT P , PRJCT_INDVDL_CT_MM PICM, EMP E
        WHERE 1=1
        AND PMA.PRJCT_ID = PICM.PRJCT_ID
        AND   PMA.EMP_ID = PICM.EMP_ID
        AND   PMA.APLY_YM = PICM.APLY_YM
        AND   PMA.APLY_ODR = PICM.APLY_ODR
        AND   P.PRJCT_ID  = PMA.PRJCT_ID
        AND   PMA.EMP_ID  = E.EMP_ID
        AND PICM.MM_ATRZ_CMPTN_YN = 'Y'
        <if test="yearItem != null and yearItem !=''">
            AND DATE_FORMAT(PMA.APLY_YMD , '%Y') = #{yearItem}
        </if>

        <if test="monthItem != null and monthItem !=''">
            AND DATE_FORMAT(PMA.APLY_YMD , '%m') = #{monthItem}
        </if>

        <if test="aplyOdr != null and aplyOdr !=''">
            AND PMA.APLY_ODR = #{aplyOdr}
        </if>

        <if test="prjctId != null and prjctId !=''">
            AND PMA.PRJCT_ID = #{prjctId}
        </if>

    </select>


    <!--근무시간, 경비 통합승인 내역 -->
    <select id="retrieveWorkHrAprvList" parameterType="map" resultType="com.trsystem.LowerHashMap">
        SELECT
            W_EMP_ID  AS EMP_ID,
            EMP_FLNM ,
            PRJCT_NM,
            FORMAT(PRJCT_NON_INSERT, 1) AS PRJCT_NON_INSERT,
            FORMAT(PRJCT_INSERT, 1) AS PRJCT_INSERT,
            FORMAT(VACATION, 1) AS VACATION,
            FORMAT(TOTAL_PRJCT_NON_INSERT, 1) AS TOTAL_PRJCT_NON_INSERT,
            FORMAT(TOTAL_PRJCT_INSERT, 1) AS TOTAL_PRJCT_INSERT,
            PRJCT_NON_INSERT_EXPENSE,
            PRJCT_INSERT_EXPENSE AS PRJCT_INSERT_EXPENSE
        FROM
            (
                SELECT
                    E.EMP_ID AS W_EMP_ID,
                    E.EMP_FLNM AS EMP_FLNM,
                    P.PRJCT_NM AS PRJCT_NM ,
                    P.PRJCT_ID AS W_PRJCT_ID,
                    E.EMPNO AS W_EMPNO,
                    E.EMP_TY_CD AS W_EMP_TY_CD,
                    SUM(CASE WHEN P.PRJCT_STLE_CD = 'VTW01801' THEN
                                 CASE WHEN PMA.MD = 0 THEN 0
                                      WHEN PMA.MD = 0.5 THEN 4
                                      WHEN PMA.MD = 1 THEN 8
                                      ELSE 0 END
                             ELSE 0 END) AS PRJCT_NON_INSERT,
                    SUM(CASE WHEN P.PRJCT_STLE_CD = 'VTW01802' THEN
                                 CASE WHEN PMA.MD = 0 THEN 0
                                      WHEN PMA.MD = 0.5 THEN 4
                                      WHEN PMA.MD = 1 THEN 8
                                      ELSE 0 END
                             ELSE 0 END) AS PRJCT_INSERT,
                    SUM(CASE WHEN PMA.YRYC_RATE = 0 THEN 0
                             WHEN PMA.YRYC_RATE = 0.5 THEN 4
                             WHEN PMA.YRYC_RATE = 1 THEN 8
                             ELSE 0 END) AS VACATION ,
                    (SUM(CASE WHEN P.PRJCT_STLE_CD = 'VTW01801' THEN
                                  CASE WHEN PMA.MD = 0 THEN 0
                                       WHEN PMA.MD = 0.5 THEN 4
                                       WHEN PMA.MD = 1 THEN 8
                                       ELSE 0 END
                              ELSE 0 END) +
                     SUM(CASE WHEN P.PRJCT_STLE_CD = 'VTW01801' THEN
                                  CASE WHEN PMA.YRYC_RATE = 0 THEN 0
                                       WHEN PMA.YRYC_RATE = 0.5 THEN 4
                                       WHEN PMA.YRYC_RATE = 1 THEN 8
                                       ELSE 0 END
                              ELSE 0 END)
                        ) AS TOTAL_PRJCT_NON_INSERT,
                    (SUM(CASE WHEN P.PRJCT_STLE_CD = 'VTW01802' THEN
                                  CASE WHEN PMA.MD = 0 THEN 0
                                       WHEN PMA.MD = 0.5 THEN 4
                                       WHEN PMA.MD = 1 THEN 8
                                       ELSE 0 END
                              ELSE 0 END) +
                     SUM(CASE WHEN P.PRJCT_STLE_CD = 'VTW01802' THEN
                                  CASE WHEN PMA.YRYC_RATE = 0 THEN 0
                                       WHEN PMA.YRYC_RATE = 0.5 THEN 4
                                       WHEN PMA.YRYC_RATE = 1 THEN 8
                                       ELSE 0 END
                              ELSE 0 END)
                        ) AS TOTAL_PRJCT_INSERT
                FROM
                    PRJCT_INDVDL_CT_MM PICM ,
                    PRJCT_MM_APLY PMA,
                    PRJCT P,
                    EMP E
                WHERE
                    PICM.PRJCT_ID = PMA.PRJCT_ID
                  AND PICM.EMP_ID = PMA.EMP_ID
                  AND PICM.APLY_YM = PMA.APLY_YM
                  AND PICM.APLY_ODR = PMA.APLY_ODR
                  AND P.PRJCT_ID = PICM.PRJCT_ID
                  AND PMA.EMP_ID = E.EMP_ID
                  AND PICM.MM_ATRZ_CMPTN_YN = 'Y'
                GROUP BY
                    E.EMP_ID,
                    E.EMP_FLNM ,
                    P.PRJCT_NM ,
                    P.PRJCT_ID,
                    PMA.YRYC_RATE
            ) WORK_HOUR,
            (
                SELECT
                    E.EMP_ID AS C_EMP_ID,
                    P.PRJCT_ID AS C_PRJCT_ID,
                    P.PRJCT_NM AS C_PRJCT_NM,
                    SUM(CASE WHEN P.PRJCT_STLE_CD = 'VTW01801' THEN PCA.UTZTN_AMT ELSE 0 END ) PRJCT_NON_INSERT_EXPENSE
                        ,
                    SUM(CASE WHEN P.PRJCT_STLE_CD = 'VTW01802' THEN PCA.UTZTN_AMT ELSE 0 END ) PRJCT_INSERT_EXPENSE
                FROM
                    PRJCT_INDVDL_CT_MM PICM ,
                    PRJCT P,
                    EMP E,
                    PRJCT_CT_APLY PCA
                WHERE
                    1 = 1
                  AND E.EMP_ID = PICM.EMP_ID
                  AND PICM.PRJCT_ID = P.PRJCT_ID
                  AND PICM.PRJCT_ID = PCA.PRJCT_ID
                  AND PICM.EMP_ID = PCA.EMP_ID
                  AND PICM.APLY_YM = PCA.APLY_YM
                  AND PICM.APLY_ODR = PCA.APLY_ODR
                  AND PICM.CT_ATRZ_CMPTN_YN = 'Y'
                GROUP BY
                    E.EMP_ID,
                    E.EMP_FLNM ,
                    P.PRJCT_NM,
                    P.PRJCT_ID) CT_LIST
        WHERE WORK_HOUR.W_PRJCT_ID = CT_LIST.C_PRJCT_ID
          AND   WORK_HOUR.W_EMP_ID = CT_LIST.C_EMP_ID
        <if test="prjctId != null and prjctId !=''">
            AND   W_PRJCT_ID = #{prjctId}
        </if>
        <if test="empFlnm != null and empFlnm !=''">
            AND   EMP_FLNM LIKE CONCAT('%', #{empFlnm}, '%')
        </if>
        <if test="empno != null and empno !=''">
            AND   W_EMPNO LIKE CONCAT('%', #{empno}, '%')
        </if>
        <if test="hdofSttsNm != null and hdofSttsNm !=''">
            AND   W_EMP_TY_CD LIKE CONCAT('%', #{hdofSttsNm}, '%')
        </if>





    </select>

    <!-- 문체비 바감 내역 -->
    <select id="retrieveClturPhstrnDdlnList" parameterType="map" resultType="com.trsystem.LowerHashMap">

        SELECT
            E.EMP_ID AS EMP_ID
            ,C.CD_NM   AS BANK_NAME
             ,E.ACTNO  AS ACTNO
             ,E.EMP_FLNM AS EMP_FLNM
             ,CPAC.DPST_AMT  AS DPST_AMT
             ,CONCAT(SUBSTR(CLM_YM,5), '월 문화체련비' ) AS REMARK
        FROM CLTUR_PHSTRN_ACT_CT CPAC
                 JOIN EMP E ON E.EMP_ID = CPAC.EMP_ID
                 JOIN CD  C ON C.CD_VALUE  = E.BANK_CD

    </select>

    <select id="retrieveClturPhstrnIndvdlList" parameterType="map" resultType="com.trsystem.LowerHashMap">
        SELECT
             E.EMP_ID AS EMP_ID
             ,E.EMP_FLNM AS EMP_FLNM
             ,CPAC .CLM_YM AS CLM_YM
             ,CPAC.CLM_AMT AS CLM_AMT
             ,CPAC.DPST_AMT AS DPST_AMT
             ,CPAC.CYFD_AMT + CPAC.CLM_AMT -CPAC.DPST_AMT AS BALANCE
        FROM CLTUR_PHSTRN_ACT_CT CPAC
                 JOIN EMP E ON E.EMP_ID = CPAC.EMP_ID
        <if test="empId != null and empId !=''">
            WHERE   E.EMPNO = #{empId}
        </if>
    </select>

    <select id="retrieveClturPhstrnCtClmList" parameterType="map" resultType="com.trsystem.LowerHashMap">
        SELECT
            C.EMP_ID AS EMP_ID,
            C.EMP_FLNM AS EMP_FLNM,
            C.YM AS YM,
            C.EXPENSE_TYPE AS EXPENSE_TYPE,
            C.AMOUNT AS AMOUNT,
            C.CLTUR_CT_DPST_AMT AS CLTUR_CT_DPST_AMT,
            C.CLM_AMT AS CLM_AMT,
            C.BALANCE AS BALANCE
        FROM (
                 SELECT
                     A.EMP_ID AS EMP_ID,
                     A.EMPNO,
                     CONCAT('(', A.EMPNO, ')', ' ', A.EMP_FLNM) AS EMP_FLNM,
                     A.YM AS YM,
                     '문화비' AS EXPENSE_TYPE,
                     SUM(IFNULL(CPAC.CLTUR_CT_CYFD_AMT, 0)) AS AMOUNT,
                     SUM(IFNULL(CPAC.CLTUR_CT_DPST_AMT, 0)) AS CLTUR_CT_DPST_AMT,
                     IFNULL(SUM(B.CLM_AMT), 0) AS CLM_AMT,
                     SUM(IFNULL(CPAC.CLTUR_CT_CYFD_AMT, 0)) + IFNULL(SUM(B.CLM_AMT), 0) - SUM(IFNULL(CPAC.CLTUR_CT_DPST_AMT, 0)) AS BALANCE
                 FROM (
                          SELECT
                              A.EMP_ID,
                              A.EMP_FLNM,
                              A.EMPNO,
                              DATE_FORMAT(DATE_SUB(CURRENT_DATE(), INTERVAL 1 MONTH), '%Y%m') AS YM
                          FROM EMP A
                      ) A
                          LEFT JOIN CLTUR_PHSTRN_ACT_CT_REG B ON A.EMP_ID = B.EMP_ID AND A.YM = SUBSTR(B.CLM_YMD, 1, 6)
                          LEFT JOIN CLTUR_PHSTRN_ACT_CT CPAC ON CPAC.EMP_ID = A.EMP_ID AND CPAC.CLM_YM = A.YM AND B.CLTUR_PHSTRN_SE_CD = 'VTW00902'
                 GROUP BY EMP_ID, EMPNO, EMP_FLNM, YM
                 UNION ALL
                 SELECT
                     A.EMP_ID AS EMP_ID,
                     A.EMPNO,
                     CONCAT('(', A.EMPNO, ')', ' ', A.EMP_FLNM) AS EMP_FLNM,
                     A.YM AS YM,
                     '체력단련비' AS EXPENSE_TYPE,
                     SUM(IFNULL(CPAC.FTNESS_TRNG_CT_CYFD_AMT, 0)) AS AMOUNT,
                     SUM(IFNULL(CPAC.FTNESS_TRNG_CT_DPST_AMT, 0)) AS CLTUR_CT_DPST_AMT,
                     IFNULL(SUM(B.CLM_AMT), 0) AS CLM_AMT,
                     SUM(IFNULL(CPAC.FTNESS_TRNG_CT_CYFD_AMT, 0)) + IFNULL(SUM(B.CLM_AMT), 0) - SUM(IFNULL(CPAC.FTNESS_TRNG_CT_DPST_AMT, 0)) AS BALANCE
                 FROM (
                          SELECT
                              A.EMP_ID,
                              A.EMP_FLNM,
                              A.EMPNO,
                              DATE_FORMAT(DATE_SUB(CURRENT_DATE(), INTERVAL 1 MONTH), '%Y%m') AS YM
                          FROM EMP A
                      ) A
                          LEFT JOIN CLTUR_PHSTRN_ACT_CT_REG B ON A.EMP_ID = B.EMP_ID AND A.YM = SUBSTR(B.CLM_YMD, 1, 6)
                          LEFT JOIN CLTUR_PHSTRN_ACT_CT CPAC ON CPAC.EMP_ID = A.EMP_ID AND CPAC.CLM_YM = A.YM AND B.CLTUR_PHSTRN_SE_CD = 'VTW00902'
                 GROUP BY EMP_ID, EMPNO, EMP_FLNM, YM
             ) C
        ORDER BY  EMP_FLNM, EXPENSE_TYPE
    </select>


</mapper>