<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.trsystem.mybatis.mapper.indvdlClmMapper">

    <!-- =================================박지환_작업================================= -->
    <!-- 휴가목록조회 -->
    <select id="retrieveVcatnListInq" parameterType="map" resultType="com.trsystem.LowerHashMap">
        SELECT
            EMP.EMP_ID						/* 직원ID */
            ,EMP.EMP_FLNM					/* 직원명 */
            ,VCATN.VCATN_TY_CD				/* 휴가유형코드 */
            ,(SELECT CD_NM FROM CD WHERE CD_VALUE = VCATN.VCATN_TY_CD)	VCATN_TY_NM					/* 휴가유형코드명 */
            ,DATE_FORMAT(VCATN.VCATN_BGNG_YMD, '%Y-%m-%d') VCATN_BGNG_YMD							/* 휴가시작일자 */
            ,DATE_FORMAT(VCATN.VCATN_END_YMD, '%Y-%m-%d' )VCATN_END_YMD								/* 휴가종료일자 */
            ,VCATN.VCATN_DE_CNT				/* 휴가일수 */
            ,VCATN.VCATN_PRVONSH			/* 휴가사유 */
            ,ELCTRN.ATRZ_DMND_STTS_CD		/* 결재요청상태코드 */
            ,(SELECT CD_NM FROM CD WHERE CD_VALUE = ELCTRN.ATRZ_DMND_STTS_CD)	ATRZ_DMND_STTS_NM	/* 결재요청상태코드명 */
            ,ELCTRN.ELCTRN_ATRZ_ID		    /* 전자결재ID */
            ,VCATN.ATCHMNFL_ID				/* 첨부파일ID */
        FROM VCATN_ATRZ		VCATN
            ,ELCTRN_ATRZ	ELCTRN
            ,EMP 			EMP
        WHERE VCATN.ELCTRN_ATRZ_ID = ELCTRN.ELCTRN_ATRZ_ID
        AND ELCTRN.ATRZ_DMND_EMP_ID = EMP.EMP_ID
        <if test="empId !=null and !empId.equals('')">
            AND EMP.EMP_ID = #{empId}
        </if>
        <if test="searchYear !=null and !searchYear.equals('')">
            AND VCATN_BGNG_YMD BETWEEN STR_TO_DATE(CONCAT(#{searchYear}, '0401'), '%Y%m%d') AND STR_TO_DATE(CONCAT(#{searchYear} + 1, '0331'), '%Y%m%d')
        </if>
        ORDER BY VCATN.VCATN_BGNG_YMD DESC
    </select>


    <!-- 휴가정보조회 -->
    <select id="retrieveVcatnInfoInq" parameterType="map" resultType="com.trsystem.LowerHashMap">
        SELECT
            EMP.EMP_ID						/* 직원ID */
            ,EMP.EMP_FLNM					/* 직원명 */
            ,VMNG.VCATN_YR 					/* 휴가연도 */
            ,VMNG.VCATN_ALTMNT_DAYCNT 		/* 휴가배정일수 */
            ,VMNG.USE_DAYCNT 				/* 사용일수 */
            ,VMNG.VCATN_REMNDR_DAYCNT 		/* 휴가잔여일수 */
            ,VMNG.NEW_VCATN_ALTMNT_DAYCNT 	/* 신규휴가배정일수 */
            ,VMNG.NEW_USE_DAYCNT 			/* 신규사용일수 */
            ,VMNG.NEW_REMNDR_DAYCNT 		/* 신규잔여일수 */
            ,VMNG.PBLEN_VCATN_USE_DAYCNT 	/* 공적휴가사용일수 */
            ,VMNG.ALTMNT_BGNG_YMD 			/* 배정시작일자 */
            ,VMNG.ALTMNT_USE_END_YMD 		/* 배정사용종료일자 */
        FROM VCATN_MNG 	VMNG
            ,EMP 		EMP
        WHERE VMNG.EMP_ID = EMP.EMP_ID
        <if test="empId !=null and !empId.equals('')">
            AND EMP.EMP_ID = #{empId}
        </if>
        <if test="searchYear !=null and !searchYear.equals('')">
            AND VMNG.VCATN_YR = #{searchYear}
        </if>
    </select>

    <!-- 휴가저장정보조회 -->
    <select id="retrieveVcatnStrgInfoInq" parameterType="map" resultType="com.trsystem.LowerHashMap">
        SELECT
            'ACCOUNT' TYPE				/* 회계_신규휴가 구분 */
            ,VCATN_ALTMNT_SN			/* 휴가배정순번 */
            ,EMP_ID						/* 직원ID */
            ,VCATN_YR	                /* 휴가연도 */
            ,VCATN_ALTMNT_DAYCNT	    /* 휴가배정일수 */
            ,USE_DAYCNT	                /* 사용일수 */
            ,PBLEN_VCATN_USE_DAYCNT	    /* 공적휴가사용일수 */
            ,VCATN_REMNDR_DAYCNT	    /* 휴가잔여일수 */
            ,NEW_VCATN_ALTMNT_DAYCNT	/* 신규휴가배정일수 */
            ,NEW_USE_DAYCNT	            /* 신규사용일수 */
            ,NEW_REMNDR_DAYCNT	        /* 신규잔여일수 */
            ,ALTMNT_BGNG_YMD	        /* 배정시작일자 */
            ,ALTMNT_USE_END_YMD         /* 배정사용종료일자 */
        FROM VCATN_MNG
        WHERE EMP_ID = #{empId}
        AND VCATN_YR = #{flagYear}
        UNION ALL
        SELECT
            'NEW'                       /* 회계_신규휴가 구분 */
            ,VCATN_ALTMNT_SN	        /* 휴가배정순번 */
            ,EMP_ID	                    /* 직원ID */
            ,VCATN_YR	                /* 휴가연도 */
            ,VCATN_ALTMNT_DAYCNT	    /* 휴가배정일수 */
            ,USE_DAYCNT	                /* 사용일수 */
            ,PBLEN_VCATN_USE_DAYCNT	    /* 공적휴가사용일수 */
            ,VCATN_REMNDR_DAYCNT	    /* 휴가잔여일수 */
            ,NEW_VCATN_ALTMNT_DAYCNT	/* 신규휴가배정일수 */
            ,NEW_USE_DAYCNT	            /* 신규사용일수 */
            ,NEW_REMNDR_DAYCNT	        /* 신규잔여일수 */
            ,ALTMNT_BGNG_YMD	        /* 배정시작일자 */
            ,ALTMNT_USE_END_YMD         /* 배정사용종료일자 */
        FROM VCATN_MNG
        WHERE EMP_ID = #{empId}
        AND #{vcatnBgngYmd} BETWEEN ALTMNT_BGNG_YMD AND ALTMNT_USE_END_YMD
    </select>

    <!-- 휴가첨부파일조회 -->
    <select id="retrieveAtchmnflInq" parameterType="map" resultType="com.trsystem.LowerHashMap">
        SELECT
            ATCHMNFL_ID			/* 첨부파일ID */
            ,ATCHMNFL_SN		/* 첨부파일순번 */
            ,STRG_FILE_NM		/* 저장피알명 */
            ,REAL_FILE_NM		/* 실제파일명 */
            ,FILE_STRG_COURS	/* 파일저장경로 */
        FROM ATCHMNFL
        WHERE ATCHMNFL_ID = #{atchmnflId}
    </select>

    <!-- 결재선심사권자조회 -->
    <select id="retrieveAtrzLnSrngInq" parameterType="map" resultType="com.trsystem.LowerHashMap">
        SELECT
            EMP.EMP_ID
            ,EMP.EMPNO
            ,EMP_FLNM
            ,JBPS_CD
            ,(SELECT CD_NM FROM CD WHERE CD_VALUE = EMP.JBPS_CD)	JBPS_NM
            ,PRJCT.PRJCT_MNGR_EMP_ID
            ,CONCAT(EMP_FLNM, ' ', (SELECT CD_NM FROM CD WHERE CD_VALUE = EMP.JBPS_CD)) LIST_EMP_FLNM
        FROM EMP    EMP
            ,PRJCT	PRJCT
        WHERE HDOF_STTS_CD = 'VTW00301'
        AND EMP.EMP_ID = PRJCT.PRJCT_MNGR_EMP_ID
        <if test="prjctMngrEmpId !=null and !prjctMngrEmpId.equals('')">
            AND PRJCT.PRJCT_MNGR_EMP_ID = #{prjctMngrEmpId}
        </if>
        <if test="prjctId !=null and !prjctId.equals('')">
            AND PRJCT.PRJCT_ID = #{prjctId}
        </if>
    </select>

    <!-- 결재선승인목록조회 -->
    <select id="retrieveAtrzLnAprvListInq" parameterType="map" resultType="com.trsystem.LowerHashMap">
        WITH RECURSIVE DEPT_LINE AS (
            SELECT
                DEPT_ID,
                DEPT_NM,
                UP_DEPT_ID,
                0 AS LEVEL
            FROM DEPT
            WHERE DEPT_ID = #{deptId}
            AND END_YN = 'N'
            UNION ALL
            SELECT
                DEPT2.DEPT_ID,
                DEPT2.DEPT_NM,
                DEPT2.UP_DEPT_ID,
                LINE.LEVEL + 1 AS LEVEL
            FROM DEPT 	DEPT2
            INNER JOIN DEPT_LINE LINE ON DEPT2.DEPT_ID = LINE.UP_DEPT_ID
        )
        SELECT
            DEPT_ID
<!--            ,DEPT_NM,-->
<!--            ,UP_DEPT_ID-->
<!--            ,LEVEL-->
        FROM DEPT_LINE	DL
<!--        ORDER BY DL.LEVEL DESC-->
    </select>

    <!-- 결재선승인권자조회 -->
    <select id="retrieveAtrzLnAprvInq" parameterType="map" resultType="com.trsystem.LowerHashMap">
        SELECT
            EMP.EMP_ID
            ,EMP_FLNM
            ,JBPS_CD
            ,(SELECT CD_NM FROM CD WHERE CD_VALUE = JBPS_CD)	JBPS_NM
            ,DEPT.DEPT_ID
            ,DEPT.DEPT_NM
            ,HNF.JBTTL_CD
            ,(SELECT CD_NM FROM CD WHERE HNF.JBTTL_CD = CD_VALUE) JBTTL_NM
            ,CONCAT(DEPT_NM, ' ', EMP_FLNM, ' ', (SELECT CD_NM FROM CD WHERE CD_VALUE = EMP.JBPS_CD)) LIST_EMP_FLNM
        FROM
            EMP			EMP
            ,DEPT 		DEPT
            ,DEPT_HNF	HNF
        WHERE HDOF_STTS_CD = 'VTW00301'
        AND EMP.EMP_ID = HNF.EMP_ID
        AND DEPT.DEPT_ID = HNF.DEPT_ID
        AND EMP.EMP_ID != #{empId}
        <if test="deptId !=null and !deptId.equals('')">
            AND DEPT.DEPT_ID IN
            <foreach collection="deptId" item="item" index="index" separator="," open="(" close=")">
                #{item.deptId}
            </foreach>
        </if>
        ORDER BY JBTTL_CD
    </select>

    <!-- 결재선참조자조회 -->
    <select id="retrieveElctrnAtrzRefrnInq" parameterType="map" resultType="com.trsystem.LowerHashMap">
        SELECT
            EMP.EMP_ID
            ,EMP.EMPNO
            ,EMP_FLNM
            ,JBPS_CD
            ,(SELECT CD_NM FROM CD WHERE CD_VALUE = JBPS_CD)	JBPS_NM
            ,DEPT.DEPT_ID
            ,DEPT.DEPT_NM
            ,CONCAT(DEPT_NM, ' ', EMP_FLNM, ' ', (SELECT CD_NM FROM CD WHERE CD_VALUE = EMP.JBPS_CD)) LIST_EMP_FLNM
            ,'VTW00706' APPROVAL_CODE
        FROM EMP		EMP
            ,DEPT 		DEPT
            ,DEPT_HNF	HNF
        WHERE HDOF_STTS_CD = 'VTW00301'
        AND EMP.EMP_ID = HNF.EMP_ID
        AND DEPT.DEPT_ID = HNF.DEPT_ID
        AND DEPT.DEPT_ID = #{repDeptId}
        AND EMP.EMP_FLNM IN ('이진원', '안주리')
    </select>

    <!-- 프로젝트MM신청조회 -->
    <select id="retrievePrjctIndvdlCtAply" parameterType="map" resultType="com.trsystem.LowerHashMap">
        WITH RECURSIVE VCATN_CNT AS (
            SELECT
                ATRZ.ELCTRN_ATRZ_ID
                ,EMP.EMP_ID
                ,ATRZ.VCATN_BGNG_YMD AS VCATN_YMD
                ,ATRZ.VCATN_TY_CD
                ,(SELECT CD_NM FROM CD WHERE CD_VALUE = ATRZ.VCATN_TY_CD) AS VCATN_TY_NM
                ,CASE
                    WHEN ATRZ.VCATN_TY_CD IN ('VTW01201', 'VTW01204') THEN '8hrs'
                    ELSE '4hrs'
                    END VCATN_TIME
                ,ATRZ.VCATN_DE_CNT AS FLAG_CNT
                FROM VCATN_ATRZ 	ATRZ
                    ,ELCTRN_ATRZ	ELCTRN
                    ,EMP			EMP
                WHERE ATRZ.ELCTRN_ATRZ_ID = ELCTRN.ELCTRN_ATRZ_ID
                AND ELCTRN.ATRZ_DMND_EMP_ID = EMP.EMP_ID
                AND ATRZ.VCATN_TY_CD != 'VTW01207'
                AND ELCTRN.ATRZ_DMND_EMP_ID = #{empId}
                AND SUBSTR(ATRZ.VCATN_BGNG_YMD, 1, 6) = #{aplyYm}
        UNION ALL
            SELECT
                ELCTRN_ATRZ_ID
                ,EMP_ID
                ,VCATN_YMD + 1
                ,VCATN_TY_CD
                ,VCATN_TY_NM
                ,VCATN_TIME
                ,FLAG_CNT - 1
                FROM VCATN_CNT
                WHERE 1 <![CDATA[<]]> FLAG_CNT
        )
        SELECT
            'workAply'  APLY_TYPE       /* 근무_휴가구분식별자 */
            ,ATRZ.PRJCT_ID	            /* 프로젝트ID */
            ,(SELECT PRJCT_NM FROM PRJCT PRJCT WHERE PRJCT.PRJCT_ID = ATRZ.PRJCT_ID)	PRJCT_NM	/* 프로젝트명 */
            ,ATRZ.EMP_ID	            /* 직원ID */
            ,ATRZ.APLY_YM	            /* 신청연월 */
            ,ATRZ.APLY_ODR	            /* 신청차수 */
            ,ATRZ.APLY_YMD              /* 신청일자 */
            ,ROUND(APLY.MD, 1)	MD		/* 근무시간비율 */
            ,ATRZ.RJCT_PRVONSH			/* 반려사유 */
            ,ATRZ.PRJCT_APRVR_CD	    /* 프로젝트결재자코드 */
            ,ATRZ.ATRZ_DMND_STTS_CD	    /* 결재요청상태코드 */
            ,(SELECT CD_NM FROM CD WHERE CD_VALUE = ATRZ_DMND_STTS_CD)	ATRZ_DMND_STTS_CD_NM		/* 결재요청상태코드명 */
            ,ATRZ.APRVR_EMP_ID	        /* 결재자직원ID */
            ,(SELECT EMP_FLNM FROM EMP EMP WHERE EMP.EMP_ID = APRVR_EMP_ID)	APRVR_EMP_FLNM			/* 결재자직원명 */
            ,ATRZ.APRV_YMD	            /* 승인일자 */
            ,ATRZ.RJCT_YMD	            /* 반려일자 */
            ,''	VCATN_TY_CD				/* 휴가유형코드 */
            ,CONCAT(
                ROUND(md * 8), '시간 | ',
                (SELECT PRJCT_NM FROM PRJCT PRJCT WHERE PRJCT.PRJCT_ID = ATRZ.PRJCT_ID), '',
                IFNULL((SELECT EMP_FLNM FROM EMP EMP WHERE EMP.EMP_ID = APRVR_EMP_ID), ''), ' ',
                IFNULL((SELECT CD_NM FROM CD WHERE CD_VALUE = ATRZ_DMND_STTS_CD), '')
            ) TEXT						/* 결재상태내용 */
        FROM PRJCT_MM_ATRZ 	ATRZ
            ,PRJCT_MM_APLY 	APLY
        WHERE 1 = 1
        AND ATRZ.PRJCT_ID = APLY.PRJCT_ID
        AND ATRZ.EMP_ID = APLY.EMP_ID
        AND ATRZ.APLY_YM = APLY.APLY_YM
        AND ATRZ.APLY_ODR = APLY.APLY_ODR
        AND ATRZ.APLY_YMD = APLY.APLY_YMD
        AND ATRZ.EMP_ID = #{empId}
        AND ATRZ.APLY_YM = #{aplyYm}
<!--        AND ATRZ.APLY_ODR = #{aplyOdr}-->
        UNION ALL
        SELECT
            'vcatnAply' APLY_TYPE     /* 근무_휴가구분식별자 */
            ,''
            ,''
            ,EMP_ID
            ,''
            ,''
            ,VCATN_YMD
            ,''
            ,''
            ,''
            ,''
            ,''
            ,''
            ,''
            ,''
            ,''
            ,VCATN_TY_CD
            ,CONCAT(VCATN_TY_NM, ' ', VCATN_TIME)
        FROM VCATN_CNT
    </select>


    <!-- 프로젝트개인비용저장 -->
    <insert id="retrievePrjctIndvdlCtMmStrg" parameterType="map">
        INSERT INTO PRJCT_INDVDL_CT_MM
        VALUES (
            #{prjctId}			/* 프로젝트ID */
            ,#{empId}			/* 직원ID */
            ,#{aplyYm}			/* 신청연월 */
            ,#{aplyOdr}			/* 신청차수 */
            ,NULL            	/* 비용결재완료여부 */
            ,'N'            	/* MM결재완료여부 */
            ,#{expensCd}		/* 경비코드 */
        )
        ON DUPLICATE KEY UPDATE
            PRJCT_ID 			= #{prjctId}
            ,EMP_ID				= #{empId}
            ,APLY_YM 			= #{aplyYm}
            ,APLY_ODR			= #{aplyOdr}
            ,MM_ATRZ_CMPTN_YN 	= 'N'
    </insert>

    <!-- 프로젝트MM신청삭제 -->
    <delete id="retrievePrjctMmAplyDel" parameterType="map">
        DELETE FROM PRJCT_MM_APLY
        WHERE EMP_ID = #{empId}
        AND APLY_YM = #{aplyYm}
        AND APLY_ODR = #{aplyOdr}
        AND APLY_YMD = #{aplyYmd}
        AND PRJCT_ID = #{prjctId}
    </delete>

    <!-- 프로젝트MM결재삭제 -->
    <delete id="retrievePrjctMmAtrzDel" parameterType="map">
        DELETE FROM PRJCT_MM_ATRZ
        WHERE EMP_ID = #{empId}
        AND APLY_YM = #{aplyYm}
        AND APLY_ODR = #{aplyOdr}
        AND APLY_YMD = #{aplyYmd}
        AND PRJCT_ID = #{prjctId}
    </delete>

    <!-- 프로젝트MM신청저장 -->
    <insert id="retrievePrjctMmAplyStrg" parameterType="map">
        INSERT INTO PRJCT_MM_APLY
        VALUES
        (
            #{prjctId},
            #{empId},
            #{aplyYm},
            #{aplyOdr},
            #{md},
            #{aplyYmd},
            SYSDATE(),
            #{empId},
            SYSDATE(),
            #{empId},
            #{yrycRate}
            ,(SELECT USER_DFN_VALUE FROM CD CD WHERE CD.CD_VALUE = #{jbpsCd})
        )
    </insert>


    <!-- 프로젝트MM결재저장 -->
    <insert id="retrievePrjctMmAtrzStrg" parameterType="map">
        INSERT INTO PRJCT_MM_ATRZ
        VALUES
        (
            #{rjctPrvonsh}
            ,#{prjctAprvrCd}
<!--            ,#{atrzDmndSttsCd}-->
            ,"VTW03702"
            ,#{aprvrEmpId}
            ,#{prjctId}
            ,#{empId}
            ,#{aplyYm}
            ,#{aplyOdr}
            ,#{aprvYmd}
            ,#{prjctYmd}
            ,SYSDATE()
            ,#{empId}
            ,SYSDATE()
            ,#{empId}
            ,#{aplyYmd}
        )

    </insert>

    <update id="retrievePrjctMmSttsInq" parameterType="map">
        UPDATE PRJCT_MM_ATRZ
        SET
            ATRZ_DMND_STTS_CD = ''
            ,MDFCN_DT = SYSDATE()
            ,MDFCN_EMP_ID = #{empId}
        WHERE EMP_ID = #{empId}
        AND APLY_YM = #{aplyYm}
        AND APLY_ODR = #{aplyOdr}
        AND APLY_YMD = #{aplyYmd}
        AND PRJCT_ID = #{prjctId}
    </update>

    <select id="retrievePrjctMmAtrzRtrcn" parameterType="map" resultType="com.trsystem.LowerHashMap">
        SELECT
            ATRZ.PRJCT_ID
            ,ATRZ.EMP_ID
            ,ATRZ.APLY_YM
            ,ATRZ.APLY_ODR
            ,ATRZ.APLY_YMD
        FROM PRJCT_MM_ATRZ  ATRZ
            ,PRJCT_MM_APLY 	APLY
        WHERE ATRZ.EMP_ID = APLY.EMP_ID
        AND ATRZ.APLY_YM = APLY.APLY_YM
        AND ATRZ.APLY_ODR = APLY.APLY_ODR
        AND ATRZ.APLY_YMD = APLY.APLY_YMD
        AND ATRZ.PRJCT_ID = APLY.PRJCT_ID
        AND ATRZ.EMP_ID = #{empId}
        AND (ATRZ_DMND_STTS_CD = '' OR ATRZ_DMND_STTS_CD IS NULL OR ATRZ_DMND_STTS_CD = 'VTW03704')
    </select>


    <delete id="retrievePrjctMmAplySttsDel" parameterType="map">
        DELETE FROM PRJCT_MM_APLY
        WHERE EMP_ID = #{empId}
        AND APLY_YM = #{aplyYm}
        AND APLY_ODR = #{aplyOdr}
        AND APLY_YMD = #{aplyYmd}
        AND PRJCT_ID = #{prjctId}
    </delete>

    <!-- =================================박지환_작업================================= -->

    <!-- 프로젝트비용 카드사용내역 조회 -->
    <select id="retrieveExpenseCardUseDtls" parameterType="map" resultType="com.trsystem.LowerHashMap">
        SELECT
        CARD_USE_SN,
        EMP_ID,
        PRJCT_ID,
        EXPENS_CD,
        ATDRN,
        CT_PRPOS,
        APLY_YM,
        APLY_ODR,
        CONCAT(SUBSTR(UTZTN_DT, 5, 2),'월 ',SUBSTR(UTZTN_DT,7,2),'일 ',SUBSTR(UTZTN_DT,9,2),':',SUBSTR(UTZTN_DT,11,2)) AS UTZTN_DT,
        USE_OFFIC,
        UTZTN_AMT,
        APRV_NO
        FROM CARD_USE_DTLS cud
        WHERE 1 = 1
        AND cud.PRJCT_CT_INPT_PSBLTY_YN = 'Y'
        <if test="empId != null and !empId.equals('')">
            AND cud.EMP_ID = #{empId}
        </if>
        <if test="aplyYm != null and !aplyYm.equals('')">
            AND cud.APLY_YM = #{aplyYm}
        </if>
        <if test="aplyOdr != null and !aplyOdr.equals('')">
            AND cud.APLY_ODR = #{aplyOdr}
        </if>
        <if test="useOffic != null and !useOffic.equals('')">
            AND cud.USE_OFFIC LIKE CONCAT('%', #{useOffic}, '%')
        </if>
        <if test="startDate != null and endDate == null">
            AND SUBSTR(UTZTN_DT,1,8) >= #{startDate}
        </if>
        <if test="startDate == null and endDate != null">
            AND SUBSTR(UTZTN_DT,1,8) &lt;= #{endDate}
        </if>
        <if test="startDate != null and endDate != null">
            <if test="!startDate.equals('') and !endDate.equals('')">
                AND SUBSTR(UTZTN_DT,1,8) BETWEEN #{startDate} AND #{endDate}
            </if>
        </if>
        <if test="useTime != null and !useTime.equals('')">
            AND TIME(UTZTN_DT) BETWEEN (SELECT SUBSTR(CD_NM,4,5) FROM CD WHERE CD_VALUE = #{useTime}) AND (SELECT SUBSTR(CD_NM,10,5) FROM CD WHERE CD_VALUE = #{useTime})
        </if>
        ORDER BY cud.UTZTN_DT ASC
    </select>

    <!-- 프로젝트비용 프로젝트별 배정 원가 비용코드 조회 -->
    <select id="retrieveExpensCdPrjctAccto" parameterType="map" resultType="com.trsystem.LowerHashMap">
        SELECT
            EXPENS_CD,
            (SELECT CD_NM FROM CD WHERE CD_VALUE = ep.EXPENS_CD) AS CD_NM
        FROM EXPENS_PRMPC ep
        WHERE 1 = 1
        <if test="prjctId != null and !prjctId.equals('')">
            AND PRJCT_ID = #{prjctId}
        </if>
    </select>

    <!-- 프로젝트비용 스마트폰 중복 신청 여부 조회 -->
    <select id="retrieveMoblphonDpcnYn" parameterType="map" resultType="com.trsystem.LowerHashMap">
        SELECT COUNT(1) AS CNT
        FROM PRJCT_CT_APLY pca
        JOIN PRJCT_CT_ATRZ pcaz
          ON pca.PRJCT_CT_APLY_SN = pcaz.PRJCT_CT_APLY_SN
              AND pca.EMP_ID = pcaz.EMP_ID
              AND pca.APLY_YM = pcaz.APLY_YM
              AND pca.APLY_ODR = pcaz.APLY_ODR
        WHERE 1 = 1
            AND pca.EXPENS_CD = 'VTW04509' -- 스마트폰지원
            AND pcaz.ATRZ_DMND_STTS_CD NOT IN ('VTW03701','VTW03702','VTW03703') -- 임시저장, 결재중, 승인
        <if test="empId != null and !empId.equals('')">
            AND pca.EMP_ID = #{empId}
        </if>
        <if test="aplyYm != null and !aplyYm.equals('')">
            AND pca.APLY_YM = #{aplyYm}
        </if>
    </select>

    <!-- 프로젝트비용 야근식대 중복 신청 여부 조회 -->
    <select id="retrieveDinnrDpcnYn" parameterType="map" resultType="com.trsystem.LowerHashMap">
        SELECT ATDRN
        FROM PRJCT_CT_APLY pca
        JOIN PRJCT_CT_ATRZ pcaz
            ON pca.PRJCT_CT_APLY_SN = pcaz.PRJCT_CT_APLY_SN
            AND pca.EMP_ID = pcaz.EMP_ID
            AND pca.APLY_YM = pcaz.APLY_YM
            AND pca.APLY_ODR = pcaz.APLY_ODR
        WHERE 1 = 1
            AND pca.EXPENS_CD = 'VTW04531'
--             AND pcaz.ATRZ_DMND_STTS_CD NOT IN ('VTW03701','VTW03702','VTW03703')
        <if test="utztnDt != null and !utztnDt.equals('')">
            AND CONCAT(SUBSTR(pca.UTZTN_DT,1,8),'000000') = #{utztnDt}
        </if>
    </select>

    <!-- 프로젝트비용 신청 순번 조회 -->
    <select id="retrievePrjctCtAplySn" parameterType="map" resultType="com.trsystem.LowerHashMap">
        SELECT MAX(PRJCT_CT_APLY_SN) AS PRJCT_CT_APLY_SN
        FROM PRJCT_CT_APLY pca
        WHERE 1 = 1
        <if test="empId != null and !empId.equals('')">
            AND pca.EMP_ID = #{empId}
        </if>
        <if test="prjctId != null and !prjctId.equals('')">
            AND pca.PRJCT_ID = #{prjctId}
        </if>
        <if test="aplyYm != null and !aplyYm.equals('')">
            AND pca.APLY_YM = #{aplyYm}
        </if>
        <if test="aplyOdr != null and !aplyOdr.equals('')">
            AND pca.APLY_ODR = #{aplyOdr}
        </if>
    </select>

    <!-- 문체비 목록 조회 -->
    <select id="retrieveClturPhstrnActCtList" parameterType="map" resultType="com.trsystem.LowerHashMap">
        SELECT
            EMP_ID
             , CLTUR_PHSTRN_ACT_CT_SN
             , CLM_YMD
             , CLM_AMT
             , ACT_IEM
             , CLTUR_PHSTRN_SE_CD
             , ACT_PURPS
             , RM
             , c.ATCHMNFL_ID
             , a.ATCHMNFL_SN
             , a.REAL_FILE_NM
             , a.STRG_FILE_NM
        FROM CLTUR_PHSTRN_ACT_CT_REG c
                 LEFT JOIN  ATCHMNFL a ON c.ATCHMNFL_ID = a.ATCHMNFL_ID
        WHERE EMP_ID = #{empId}
    </select>

    <!-- 프로젝트 비용 입력마감 (빈 코드값 -> 임시저장) -->
    <update id="retrievePrjctCtInptDdln" parameterType="map">
        UPDATE PRJCT_CT_ATRZ
        SET
            ATRZ_DMND_STTS_CD = 'VTW03701',
            MDFCN_DT = now(),
            MDFCN_EMP_ID = #{empId}
        WHERE 1 = 1
          AND ATRZ_DMND_STTS_CD IS NULL
          AND EMP_ID = #{empId}
          AND APLY_YM = #{aplyYm}
          AND APLY_ODR = #{aplyOdr}
    </update>

    <!-- 프로젝트 비용 입력마감취소 (임시저장 -> 빈 코드값) -->
    <update id="retrievePrjctCtInptDdlnRtrcn" parameterType="map">
        UPDATE PRJCT_CT_ATRZ
        SET
            ATRZ_DMND_STTS_CD = NULL,
            MDFCN_DT = now(),
            MDFCN_EMP_ID = #{empId}
        WHERE 1 = 1
          AND ATRZ_DMND_STTS_CD = 'VTW03701'
          AND EMP_ID = #{empId}
          AND APLY_YM = #{aplyYm}
          AND APLY_ODR = #{aplyOdr}
    </update>

    <!-- 프로젝트 비용 승인요청 (임시저장 -> 결재중) -->
    <update id="retrievePrjctAprvDmnd" parameterType="map">
        UPDATE PRJCT_CT_ATRZ
        SET
            ATRZ_DMND_STTS_CD = 'VTW03702',
            MDFCN_DT = now(),
            MDFCN_EMP_ID = #{empId}
        WHERE 1 = 1
          AND ATRZ_DMND_STTS_CD = 'VTW03701'
          AND EMP_ID = #{empId}
          AND APLY_YM = #{aplyYm}
          AND APLY_ODR = #{aplyOdr}
    </update>

    <!-- 프로젝트 비용 승인요청취소 (결재중 -> 임시저장) -->
    <update id="retrievePrjctAprvDmndRtrcn" parameterType="map">
        UPDATE PRJCT_CT_ATRZ
        SET
            ATRZ_DMND_STTS_CD = 'VTW03701',
            MDFCN_DT = now(),
            MDFCN_EMP_ID = #{empId}
        WHERE 1 = 1
          AND ATRZ_DMND_STTS_CD = 'VTW03702'
          AND EMP_ID = #{empId}
          AND APLY_YM = #{aplyYm}
          AND APLY_ODR = #{aplyOdr}
    </update>

    <!-- 비용 결재 요청 상태 건수 조회 -->
    <select id="retrieveCtAtrzDmndStts" parameterType="map" resultType="com.trsystem.LowerHashMap">
        SELECT
            COUNT(1) AS TOT_CNT
             , COUNT(CASE WHEN pcaz.ATRZ_DMND_STTS_CD IS NULL THEN 1 END) AS CT_REG
             , COUNT(CASE WHEN pcaz.ATRZ_DMND_STTS_CD = 'VTW03701' THEN 1 END) AS INPT_DDLN
             , COUNT(CASE WHEN pcaz.ATRZ_DMND_STTS_CD = 'VTW03702' THEN 1 END) AS APRV_DMND
             , COUNT(CASE WHEN pcaz.ATRZ_DMND_STTS_CD = 'VTW03703' THEN 1 END) AS APRV
             , COUNT(CASE WHEN pcaz.ATRZ_DMND_STTS_CD = 'VTW03704' THEN 1 END) AS RJCT
             , COUNT(CASE WHEN pcaz.ATRZ_DMND_STTS_CD = 'VTW03705' THEN 1 END) AS APRV_RTRCN
        FROM PRJCT_CT_APLY pca
                 JOIN PRJCT_CT_ATRZ pcaz
                      ON pca.PRJCT_CT_APLY_SN = pcaz.PRJCT_CT_APLY_SN
                          AND pca.EMP_ID = pcaz.EMP_ID
                          AND pca.APLY_YM = pcaz.APLY_YM
                          AND pca.APLY_ODR = pcaz.APLY_ODR
        WHERE pca.EMP_ID = #{empId}
          AND pca.APLY_YM = #{aplyYm}
          AND pca.APLY_ODR = #{aplyOdr}
    </select>

    <!-- 비용 결재 요청 상태 건수 조회 -->
    <select id="retrieveElctrnAtrzDetail" parameterType="map" resultType="com.trsystem.LowerHashMap">
        SELECT DISTINCT
            ea.ELCTRN_ATRZ_ID,
            ea.ATRZ_DMND_EMP_ID,
            ea.PRJCT_ID,
            ea.ELCTRN_ATRZ_TY_SE_CD,
            ea.NOW_ATRZ_LN_SN
        FROM ELCTRN_ATRZ ea
                 LEFT JOIN CLM_ATRZ ca ON ea.ELCTRN_ATRZ_ID = ca.ELCTRN_ATRZ_ID
        WHERE 1 = 1
          AND ea.PRJCT_ID = #{prjctId}
          AND ea.ATRZ_DMND_EMP_ID = #{empId}
          AND ea.ELCTRN_ATRZ_ID = #{elctrnAtrzId}
    </select>
</mapper>