<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.trsystem.mybatis.mapper.infoInqMapper">
	<select id="retrieveEmpList" parameterType="map" resultType="com.trsystem.LowerHashMap">


		SELECT
		E.EMP_ID AS EMP_ID,
		E.EMPNO AS EMPNO,
		E.EMP_FLNM AS EMP_FLNM,
		E.EMP_TY_CD AS EMP_TY_CD,
		C.CD_NM AS JBPS_NM,
		MAX(EH.JNCMP_YMD) AS JNCMP_YMD, -- 최신 JNCMP_YMD로 수정
		GROUP_CONCAT(D.DEPT_NM) AS DEPT_ID,
		E.TELNO AS TELNO,
		E.EML AS EML,
		C2.CD_NM AS HDOF_STTS_NM,
		COUNT(*) OVER () AS TOTAL_ITEMS,
		C3.CD_NM AS BANK_NM,
		E.ACTNO AS ACTNO,
		C.CD_VALUE AS JBPS_CD,
		C3.CD_VALUE AS BANK_CD,
		C2.CD_VALUE AS HDOF_STTS_CD
		FROM
		EMP E
		LEFT OUTER JOIN
		CD C ON C.CD_VALUE = E.JBPS_CD
		LEFT OUTER JOIN
		DEPT_HNF DF ON E.EMP_ID = DF.EMP_ID
		LEFT OUTER JOIN
		DEPT D ON D.DEPT_ID = DF.DEPT_ID
		LEFT OUTER JOIN
		CD C2 ON C2.CD_VALUE = E.HDOF_STTS_CD
		LEFT OUTER JOIN
		CD C3 ON C3.CD_VALUE = E.BANK_CD
		LEFT OUTER JOIN
		EMP_HIST EH ON EH.EMP_ID = E.EMP_ID
		WHERE 1=1
	                        <if test="empno != null and empno !=''">
	                            AND E.EMPNO LIKE CONCAT('%', #{empno}, '%')
	                        </if>
	 
	                        <if test="empFlnm != null and empFlnm !=''">
	                            AND E.EMP_FLNM LIKE CONCAT('%', #{empFlnm}, '%')
	                        </if>
	 
	                        <if test="jbpsNm != null and jbpsNm !=''">
	                            AND E.JBPS_CD = #{jbpsNm}
	                        </if>
	 
	                        <if test="telNo != null and telNo !=''">
	                            AND E.TELNO LIKE CONCAT('%', #{telNo}, '%')
	                        </if>
	                        <if test="deptId != null and deptId !=''">
	                            AND D.DEPT_ID = #{deptId}
	                        </if>
	 
	                        <if test="hdofSttsNm != null and hdofSttsNm !=''">
	                            AND C2.CD_VALUE = #{hdofSttsNm}
	                        </if>
		GROUP BY
		E.EMP_ID, E.EMPNO, E.EMP_FLNM, E.EMP_TY_CD, C.CD_NM,
		E.TELNO, E.EML, C2.CD_NM, C3.CD_NM, E.ACTNO, C.CD_VALUE, C3.CD_VALUE, C2.CD_VALUE
		ORDER BY
		E.JBPS_CD ASC
	</select>
	<!--직급발령정보 조회-->
	<select id="retrieveEmpJbpsHist" parameterType="map" resultType="com.trsystem.LowerHashMap">
	WITH EMP_HIST_RANK AS (
    SELECT
       		EMP_ID,
       	 	JBPS_CD,
        	EMP_HIST_SN,
        	ROW_NUMBER() OVER (PARTITION BY EMP_ID ORDER BY REG_DT) AS RowNum ,
       		REG_DT,
        	EMP_INFO_CHG_ODR,
        	REG_EMP_ID 
    FROM 
    		EMP_HIST
	)
	SELECT	
		    A.EMP_ID,
		    B.EMP_INFO_CHG_ODR,
		    B.EMP_HIST_SN,
		    A.JBPS_CD AS JBPS_CD,
		    C.CD_NM AS JBPS_NM,
		    DATE_FORMAT(B.REG_DT,'%Y-%m-%d') AS REG_DT,
		    D.EMPNO AS REG_EMPNO
	FROM 
		EMP_HIST_RANK A
		JOIN EMP_HIST_RANK B ON A.EMP_ID = B.EMP_ID AND A.RowNum = B.RowNum - 1
		LEFT OUTER JOIN CD C ON C.CD_VALUE =A.JBPS_CD
		LEFT OUTER JOIN EMP D ON D.EMP_ID=A.REG_EMP_ID 
	WHERE 
	  	1=1
	  	AND A.JBPS_CD <![CDATA[<>]]> B.JBPS_CD
	 	<if test="empId != null and empId !=''">
		AND A.EMP_ID = #{empId}
		</if>
	ORDER BY 
		EMP_HIST_SN DESC;
		
	</select>	
	<select id="retrieveEmpAcbg" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT 				
			ACBG_SN
			,ACBG_SE_CD
			,SCHL_NM
			,MAJOR_INTLTSH_NM
			,GRDTN_STTS_CD
			,PNT_PSCORE_SE_CD
			,SCRE AS SCRE
			,MTCLTN_YR
			,GRDTN_YR
		FROM EMP_ACBG
		WHERE
		    EMP_ID = #{empId}
	</select>

	<select id="retrieveFgggAblty" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT
			FGGG_ABLTY_SN,
			FGGG_KND_CD,
			PICTRS_LEVEL_CD,
			ATHRI_TEST_NM ,
			SCORE
		FROM
			EMP_FGGG_ABLTY
		WHERE
		EMP_ID = #{empId}
	</select>

	<select id="retrieveEmpQlfcLcns" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT
			QLFC_LCNS_SN,
			QLFC_LCNS_NM ,
			QLFC_LCNS_ID ,
			GRAD_NM ,
			ACQS_YMD
		FROM EMP_QLFC_LCNS
			WHERE EMP_ID= #{empId}
	</select>
	
	<select id="retrieveEmpEduHist" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT
			EDU_SN,
			EDU_INST_NM,
			EDU_NM,
			EDU_BGNG_YMD,
			EDU_END_YMD,
			EDU_CN
		FROM EMP_EDU 
		WHERE EMP_ID= #{empId}
	</select>
	
	<select id="retrieveEmpCareer" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT
			CAREER_SN,
			WORK_BGNG_YMD,
			WORK_END_YMD,
			WRKPLC_NM,
			MAIN_CAREER_CN,
			LCTN_ADDR,
			RM
		FROM EMP_CAREER 
			WHERE EMP_ID= #{empId}
	</select>

	<select id="retrievePrjctHist" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT 
			PRJCT_HIST_SN ,
			PRJCT_NM ,
			PRJCT_BGNG_YMD,
	        PRJCT_END_YMD,
			TKCG_JOB_CN,
			ORDER_INST_NM,
			JOB_CL_CD,
			TCHNLGY_CL_CD,
			RM
		FROM EMP_PRJCT_HIST
		WHERE EMP_ID = #{empId}
	</select>

	<select id="retrieveNoticeList" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT
			ROW_NUMBER() OVER() ROWNUM
			, NOTICE_ID
			, NOTICE_TTL
			, SGNAL_ORDR
			, e.EMP_FLNM AS REG_EMP_ID
			, DATE_FORMAT(n.REG_DT, '%Y-%m-%d %H:%i') AS REG_DT
			, COUNT(*) OVER () AS TOTAL_ITEMS
		FROM NOTICE n
		LEFT JOIN EMP e ON n.REG_EMP_ID = e.EMP_ID
		WHERE 1=1
		<if test="type == 'notice'">
			AND SGNAL_ORDR IN (0, 1)
		</if>
		<if test="type == 'refer'">
			AND SGNAL_ORDR IN (2, 3)
		</if>
		<if test="searchCnd == 'VTW01701' and searchWrd != null">
			AND NOTICE_TTL LIKE CONCAT('%',#{searchWrd},'%')
		</if>
		<if test="searchCnd == 'VTW01702' and searchWrd != null">
			AND REGEXP_REPLACE(NOTICE_CN, '&lt;[^&gt;]*&gt;', '') LIKE CONCAT('%', #{searchWrd}, '%')
		</if>
		<if test="(searchCnd == null and searchWrd != null) or (searchCnd == 'VTW01703' and searchWrd != null)">
			AND (
			NOTICE_TTL LIKE CONCAT('%',#{searchWrd},'%')
			OR REGEXP_REPLACE(NOTICE_CN, '&lt;[^&gt;]*&gt;', '') LIKE CONCAT('%', #{searchWrd}, '%')
			)
		</if>
		ORDER BY
		CASE
		WHEN SGNAL_ORDR IN (1, 3) THEN 0
		ELSE 1
		END,
		REG_DT DESC
	</select>

	<select id="retrieveNtcMatterDtl" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT
			NOTICE_ID
			, NOTICE_TTL
			, NOTICE_CN
			, SGNAL_ORDR
			, USE_YN
			, IMPRTNC_NTC_BGNG_YMD
			, IMPRTNC_NTC_END_YMD
			, USE_END_YMD
			, n.ATCHMNFL_ID
			, a.ATCHMNFL_SN
			, a.REAL_FILE_NM
			, a.STRG_FILE_NM
			, e.EMP_FLNM AS REG_EMP_NM
			, n.REG_EMP_ID
			, DATE_FORMAT(n.REG_DT, '%Y-%m-%d %H:%i') AS REG_DT
		FROM NOTICE n
				 LEFT JOIN EMP e ON n.REG_EMP_ID = e.EMP_ID
				 LEFT JOIN  ATCHMNFL a ON n.ATCHMNFL_ID = a.ATCHMNFL_ID
		WHERE NOTICE_ID = #{noticeId}
	</select>
	
	<select id="retriveDeptSearchList" parameterType="map" resultType="com.trsystem.LowerHashMap">
    
    SELECT 
       A.DEPT_NM AS DEPT_NM, 
       B.DEPT_ID AS DEPT_ID 
    FROM DEPT A 
    INNER JOIN DEPT_HNF B ON A.DEPT_ID = B.DEPT_ID 
    
</select>

	<select id="retrieveEmpBassInfo" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT
			D.DEPT_NM AS DEPT_NM,
			EMP_FLNM ,
			TELNO,
			EML,
			BRDT
		FROM EMP E
				 LEFT OUTER JOIN DEPT_HNF DH ON DH.EMP_ID = E.EMP_ID
				 LEFT OUTER JOIN DEPT D ON D.DEPT_ID  = DH.DEPT_ID
		WHERE E.EMP_ID = #{empId}
	</select>
	
	
	<select id="selectEmpInfoCnt" parameterType="map" resultType="com.trsystem.LowerHashMap">

		SELECT COUNT(*) AS CNT FROM EMP_DTL WHERE EMP_ID = #{empId}
	</select>

</mapper>

