<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.trsystem.mybatis.mapper.sysMngMapper">

    <select id="TrsCodeList" parameterType="map" resultType="com.trsystem.LowerHashMap">
        SELECT
            CD_VALUE,
            CD_NM,
            USE_YN,
            COUNT(*) OVER () AS TOTAL_ITEMS
        FROM CD
        WHERE 1=1
            AND UP_CD_VALUE IS NULL
        <if test="upCdValue != null and upCdValue !=''">
            AND UP_CD_VALUE = #{upCdValue}
        </if>
        <if test="cdValue != null and cdValue !=''">
            AND CD_VALUE LIKE CONCAT('%', #{cdValue}, '%')
        </if>
        <if test="cdNm != null and cdNm !=''">
            AND CD_NM LIKE CONCAT('%', #{cdNm}, '%')
        </if>
    </select>

    <select id="authCdList" parameterType="map" resultType="com.trsystem.LowerHashMap">
        SELECT
            ag.AUTHRT_GROUP_ID,
            ag.AUTHRT_GROUP_NM,
            ag.AUTHRT_GROUP_CN,
            GROUP_CONCAT(am.AUTHRT_CD) AS AUTHRT_CDs,
            GROUP_CONCAT(cd.CD_NM) AS AUTHRT_CD_NMs
        FROM AUTHRT_GROUP ag
                 JOIN AUTHRT_MAPNG am ON ag.AUTHRT_GROUP_ID = am.AUTHRT_GROUP_ID
                 JOIN CD cd ON am.AUTHRT_CD = cd.CD_VALUE
        GROUP BY ag.AUTHRT_GROUP_ID, ag.AUTHRT_GROUP_NM, ag.AUTHRT_GROUP_CN;
    </select>

    <select id="customersList" parameterType="map" resultType="com.trsystem.LowerHashMap">
        select
            COUNT(*) OVER () AS TOTAL_ITEMS,
            CTMMNY_ID,
            CTMMNY_NM ,
            CTMMNY_ENG_NM,
            INDUST_CD,
            USE_YN
        FROM tester.CTMMNY_INFO
        WHERE 1=1
            <if test="ctmmnyNm != null and !ctmmnyNm.equals('')">
                AND CTMMNY_NM LIKE CONCAT('%', #{ctmmnyNm}, '%')
            </if>
            <if test="industCd != null and !industCd.equals('')">
                AND INDUST_CD = #{industCd}
            </if>
        ORDER BY REG_DT DESC
    </select>

    <select id="userInfo" parameterType="String" resultType="com.trsystem.LowerHashMap">
    SELECT LU.EMP_ID,
           LU.EMPNO,
           (SELECT E.EMP_FLNM FROM EMP E WHERE LU.EMP_ID =  E.EMP_ID) EMP_NM,
           (SELECT CD_NM FROM CD WHERE CD_VALUE = (SELECT E.JBPS_CD FROM EMP E WHERE LU.EMP_ID =  E.EMP_ID)) JBPS_NM,
           (SELECT JBPS_CD FROM EMP E WHERE E.EMPNO = #{empno}) JBPS_CD,
           PSWD
    FROM LGN_USER LU
    WHERE EMPNO = #{empno}
    </select>

    <select id="userAuth" parameterType="String" resultType="com.trsystem.LowerHashMap">
    SELECT ag.AUTHRT_GROUP_ID , am.AUTHRT_CD
    FROM AUTHRT_GROUP ag
             JOIN AUTHRT_MAPNG am
             JOIN LGN_USER_AUTHRT lua
                  ON ag.AUTHRT_GROUP_ID = am.AUTHRT_GROUP_ID
                      AND lua.AUTHRT_GROUP_ID = ag.AUTHRT_GROUP_ID
    WHERE lua.EMP_ID = #{empId}
    </select>

    <select id="userDept" parameterType="String" resultType="com.trsystem.LowerHashMap">
      SELECT A.DEPT_ID
           , A.DEPT_NM
           , B.JBTTL_CD
        FROM DEPT A
        JOIN DEPT_HNF B
          ON A.DEPT_ID = B.DEPT_ID
        WHERE B.EMP_ID = #{empId}
    </select>
    
    <!-- main용 쿼리들-->
    <!-- main 공지사항 쿼리-->
    <select id="retrieveNotice" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT
			ROW_NUMBER() OVER() ROWNUM
			, NOTICE_ID
			, NOTICE_TTL
			, SGNAL_ORDR
			, e.EMP_FLNM AS REG_EMP_ID
			, DATE_FORMAT(n.REG_DT, '%Y-%m-%d %H:%i') AS REG_DT
			, COUNT(*) OVER () AS TOTAL_ITEMS
		FROM NOTICE n
		LEFT JOIN EMP e ON n.REG_EMP_ID = e.EMP_ID
		WHERE 1=1
			AND SGNAL_ORDR IN (0, 1)
		ORDER BY
		CASE
		WHEN SGNAL_ORDR IN (1, 3) THEN 0
		ELSE 1
		END,
		REG_DT DESC
		limit 11
	</select>
	
	<!-- main 현차수 TR 입력사항-->
	<select id="retrieveInptSttus" parameterType="map" resultType="com.trsystem.LowerHashMap">
		select
		E.EMP_ID
		,CONCAT((select COUNT(*)*8 FROM CRTR_DATE WHERE CRTR_YMD LIKE CONCAT(#{aplyYm},'%') AND CRTR_ODR = #{aplyOdr} AND HLDY_CL_CD ="VTW05001"),"시간") AS TOTAL
		,CONCAT(IFNULL(BB.SUM,0),"시간")AS SUM		
		,CONCAT((CASE WHEN BB.STTS_CD = 'VTW03704' THEN BB.SUM  ELSE 0 END),"시간") AS MM_REJECT			
		,CONCAT((CASE WHEN BB.STTS_CD = 'VTW03703' THEN BB.SUM  ELSE 0 END),"시간") AS MM_COMPLETE
		,CONCAT(IFNULL(AA.CNT,0),"건")AS CNT		
		,CONCAT((CASE WHEN AA.STTS_CD = 'VTW03704' THEN AA.CNT  ELSE 0 END),"건") AS APLY_REJECT			
		,CONCAT((CASE WHEN AA.STTS_CD = 'VTW03703' THEN AA.CNT  ELSE 0 END),"건") AS APLY_COMPLETE  	
		from EMP E
		LEFT OUTER JOIN(
			   	 SELECT
			   	 Count(*) as CNT
			   	 , pca.EMP_ID
			   	 , pcaz.ATRZ_DMND_STTS_CD STTS_CD
				 FROM PRJCT_CT_APLY pca
				 JOIN PRJCT_CT_ATRZ pcaz
					 ON pca.PRJCT_CT_APLY_SN = pcaz.PRJCT_CT_APLY_SN
						  AND pca.EMP_ID = pcaz.EMP_ID
						  AND pca.APLY_YM = pcaz.APLY_YM
						  AND pca.APLY_ODR = pcaz.APLY_ODR
				WHERE
					 1=1
					  AND pca.APLY_YM = #{aplyYm}
					  AND pca.APLY_ODR = #{aplyOdr}
		 		group by 
		 			pca.EMP_ID, STTS_CD
		)AA ON AA.EMP_ID =E.EMP_ID
		LEFT OUTER JOIN(
				select 
		 			(count(*)*8)as SUM
		 			,pma.EMP_ID 
		 			,pmaz.ATRZ_DMND_STTS_CD STTS_CD
		 		from 
		 			PRJCT_MM_APLY pma 
		 		JOIN 
		 			PRJCT_MM_ATRZ pmaz
			 		ON pma.PRJCT_ID =pmaz.PRJCT_ID 
				 		AND pma.EMP_ID =pmaz.EMP_ID 
				 		AND pma.APLY_YM =pmaz.APLY_YM 
				 		AND pma.APLY_ODR =pmaz.APLY_ODR 
				 		AND pma.APLY_YMD =pmaz.APLY_YMD 
		 		WHERE
		 		1=1
				  AND pma.APLY_YM = #{aplyYm}
				  AND pma.APLY_ODR =#{aplyOdr}
		 		group by 
		 			pma.EMP_ID, STTS_CD
		)BB ON BB.EMP_ID =E.EMP_ID 
		where 
		1=1
		AND E.EMP_ID =#{empId}
	</select>
	
	<!-- main 결제 신청현황 및 결제리스트-->
	<select id="retrieveAtrzAplySttus" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT DISTINCT
		ea.ELCTRN_ATRZ_ID,
		ea.ELCTRN_ATRZ_TY_SE_CD,
		ea.NOW_ATRZ_LN_SN,
		ea.PRJCT_ID,
		tyCd.CD_NM,
		eadf.GNRL_ATRZ_TTL, -- 전자결재 유형
		e1.EMP_FLNM AS ATRZ_DMND_EMP_ID, -- 기안자
		e2.EMP_FLNM AS APRVR_EMP_ID, -- 현재 결재권자
		DATE_FORMAT(ea.REG_DT, '%Y-%m-%d') AS REG_DT,
		stepCd.CD_NM AS ATRZ_STEP_CD, -- 현재 결재단계 (VTW007)
		sttsCd.CD_NM AS ATRZ_STTS_CD, -- 결재상태 (VTW008)
		COALESCE(ga.GNRL_ATRZ_TTL, ca.CLM_ATRZ_TTL, cta.CTRT_ATRZ_TTL, cga.ATRZ_TTL,
		CONCAT((SELECT CD_NM FROM CD WHERE CD_VALUE = va.VCATN_TY_CD), ' [', va.VCATN_BGNG_YMD, ' ~ ', va.VCATN_END_YMD, ' (', va.VCATN_DE_CNT, '일)]')) AS TITLE,
		COALESCE(ga.GNRL_ATRZ_CN, ca.CLM_ATRZ_CN, cta.CTRT_ATRZ_CN, cga.STLM_CN) AS CN
		FROM ELCTRN_ATRZ ea
		LEFT JOIN ATRZ_LN al
		ON ea.ELCTRN_ATRZ_ID = al.ELCTRN_ATRZ_ID
		AND ea.NOW_ATRZ_LN_SN = al.ATRZ_LN_SN
		LEFT JOIN CD tyCd ON ea.ELCTRN_ATRZ_TY_SE_CD = tyCd.CD_VALUE -- 전자결재 유형코드 명
		LEFT JOIN CD aprCd ON al.APRVR_EMP_ID = aprCd.CD_VALUE -- 현재 결재권자 명
		LEFT JOIN CD stepCd ON al.ATRZ_STEP_CD = stepCd.CD_VALUE -- 현재 결재단계 (VTW007) 명
		LEFT JOIN CD sttsCd ON al.ATRZ_STTS_CD = sttsCd.CD_VALUE -- 결재상태 (VTW008) 명
		LEFT JOIN GNRL_ATRZ ga ON ea.ELCTRN_ATRZ_ID = ga.ELCTRN_ATRZ_ID -- 일반결재
		LEFT JOIN CLM_ATRZ ca ON ea.ELCTRN_ATRZ_ID = ca.ELCTRN_ATRZ_ID -- 청구결재 - 거래처명
		LEFT JOIN VCATN_ATRZ va ON ea.ELCTRN_ATRZ_ID = va.ELCTRN_ATRZ_ID -- 휴가결재 제목
		LEFT JOIN REFRN_MAN rm ON ea.ELCTRN_ATRZ_ID = rm.ELCTRN_ATRZ_ID -- 참조자
		LEFT JOIN CTRT_ATRZ cta ON ea.ELCTRN_ATRZ_ID = cta.ELCTRN_ATRZ_ID -- 계약 지급
		LEFT JOIN CTRT_GIVE_ATRZ cga ON ea.ELCTRN_ATRZ_ID = cga.ELCTRN_ATRZ_ID -- 계약 지급
		LEFT JOIN ELCTRN_ATRZ_DOC_FORM eadf ON ea.ELCTRN_ATRZ_TY_SE_CD = eadf.ELCTRN_ATRZ_TY_SE_CD -- 서식 제목
		JOIN EMP e1 ON ea.ATRZ_DMND_EMP_ID = e1.EMP_ID
		JOIN EMP e2 ON al.APRVR_EMP_ID = e2.EMP_ID
		WHERE 1=1
		<if test='stts != null and stts.equals("ATRZ")'>
			<!--AND ea.ATRZ_DMND_STTS_CD = #{sttsCd}-->
			AND ea.ATRZ_DMND_EMP_ID = #{empId}
		</if>
		<if test='stts != null and stts.equals("APRVR")'>
			<!--AND al.ATRZ_STTS_CD = #{sttsCd}-->
			AND ea.ATRZ_DMND_STTS_CD ="VTW037"
			AND al.APRVR_EMP_ID = #{empId}
		</if>
		ORDER BY REG_DT
		limit 4
	</select>
	
	<!-- 전자결재(관리자메뉴) 쿼리  -->
	<select id="retrieveElecAtrzMng" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT M.ELCTRN_ATRZ_ID						-- 전자결재 ID
		     , M.PRJCT_ID							-- 프로젝트 ID
		     , M.ELCTRN_ATRZ_TY_SE_CD				-- 전자결재유형코드
		     , M.TY_CD AS ELCTRN_ATRZ_TY_SE_CD_NM
		     , M.ATRZ_DMND_STTS_CD					-- 결재요청상세코드
		     , M.STEP_CD AS ATRZ_DMND_STTS_CD_NM
		     , M.ATRZ_STTS_CD						-- 결재상태코드 
		     , M.STTS_CD AS ATRZ_STTS_CD_NM
		     , M.NOW_ATRZ_LN_SN						-- 현재결재선순번
		     , C.CLM_ATRZ_DTL_SN					-- 청구결재상세순번
		     , M.ATRZ_FORM_DOC_ID					-- 결재양식문서ID
		     , M.APRVR_EMP_ID
		     , M.ATRZ_DMND_EMP_NM					-- 기안자
		     , M.APRVR_EMP_NM						-- 현재결재권자
		     , DATE_FORMAT(M.REG_DT, '%Y-%m-%d') AS REG_DT 	-- 요청일자
		     , M.GNRL_ATRZ_TTL
		     , COALESCE(C.CLM_ATRZ_TTL, CA.CTRT_ATRZ_TTL, CGA.ATRZ_TTL, GA.GNRL_ATRZ_TTL,
			   CONCAT((SELECT CD_NM FROM CD WHERE CD_VALUE = VA.VCATN_TY_CD), ' [', VA.VCATN_BGNG_YMD, ' ~ ', VA.VCATN_END_YMD, ' (', VA.VCATN_DE_CNT, '일)]')) AS TITLE
		     , C.CNPT_NM							-- 청구결재 거래처
		     , COALESCE(GA.GNRL_ATRZ_CN, C.CLM_ATRZ_CN, CA.CTRT_ATRZ_CN, CGA.STLM_CN) AS CN
		     , COUNT(*) OVER () AS TOTAL_ITEMS
		  FROM (
					SELECT EA.ELCTRN_ATRZ_ID
					     , EA.PRJCT_ID
					     , EA.ELCTRN_ATRZ_TY_SE_CD
					     , CD1.CD_NM AS TY_CD
					     , EA.ATRZ_DMND_STTS_CD
					     , CD2.CD_NM AS STEP_CD
					     , EA.NOW_ATRZ_LN_SN
					     , AL.ATRZ_STTS_CD
					     , CD3.CD_NM AS STTS_CD
					     , EA.ATRZ_FORM_DOC_ID
					     , AL.APRVR_EMP_ID
					     , E1.EMP_FLNM AS ATRZ_DMND_EMP_NM		-- 기안자
					     , E2.EMP_FLNM AS APRVR_EMP_NM			-- 현재 결재권자
					     , EADF.GNRL_ATRZ_TTL
					     , EA.REG_DT
					  FROM ELCTRN_ATRZ EA
					  LEFT JOIN ATRZ_LN AL ON EA.ELCTRN_ATRZ_ID = AL.ELCTRN_ATRZ_ID AND EA.NOW_ATRZ_LN_SN = AL.ATRZ_LN_SN
					  INNER JOIN EMP E1 ON EA.ATRZ_DMND_EMP_ID = E1.EMP_ID
					  INNER JOIN EMP E2 ON AL.APRVR_EMP_ID = E2.EMP_ID
					  LEFT JOIN ELCTRN_ATRZ_DOC_FORM EADF ON EA.ATRZ_FORM_DOC_ID = EADF.ATRZ_FORM_DOC_ID
					  LEFT JOIN CD CD1 ON EA.ELCTRN_ATRZ_TY_SE_CD = CD1.CD_VALUE
					  LEFT JOIN CD CD2 ON EA.ATRZ_DMND_STTS_CD = CD2.CD_VALUE
					  LEFT JOIN CD CD3 ON AL.ATRZ_STTS_CD = CD3.CD_VALUE
					  LEFT JOIN CD CD4 ON AL.APRVR_EMP_ID = CD4.CD_VALUE
		        ) M
		 LEFT JOIN (
					 SELECT CA.ELCTRN_ATRZ_ID
					      , CAD.CLM_ATRZ_DTL_SN
					      , CA.CLM_ATRZ_TTL
					      , CAD.CNPT_NM
					      , CA.ATCHMNFL_ID
					      , CA.CLM_ATRZ_CN
					  FROM CLM_ATRZ CA
					 INNER JOIN CLM_ATRZ_DTL CAD ON CA.ELCTRN_ATRZ_ID = CAD.ELCTRN_ATRZ_ID 
		 		    ) C ON M.ELCTRN_ATRZ_ID = C.ELCTRN_ATRZ_ID
		 LEFT JOIN VCATN_ATRZ VA ON M.ELCTRN_ATRZ_ID = VA.ELCTRN_ATRZ_ID
		 LEFT JOIN CTRT_ATRZ CA ON M.ELCTRN_ATRZ_ID = CA.ELCTRN_ATRZ_ID
		 LEFT JOIN CTRT_GIVE_ATRZ CGA ON M.ELCTRN_ATRZ_ID = CGA.ELCTRN_ATRZ_ID  
		 LEFT JOIN GNRL_ATRZ GA ON M.ELCTRN_ATRZ_ID = GA.ELCTRN_ATRZ_ID 
		 WHERE 1=1
		<choose>
			<when test="searchType != null and searchType == 'progress'">
				AND (ATRZ_STTS_CD = 'VTW00801' OR ATRZ_DMND_STTS_CD = 'VTW03702')
			</when>
			<when test="searchType != null and searchType == 'terminatedAprvrEmp'">
				AND (ATRZ_STTS_CD = 'VTW00802' OR ATRZ_DMND_STTS_CD = 'VTW03703')
			</when>
			<when test="searchType != null and searchType == 'deny'">
				AND (ATRZ_STTS_CD = 'VTW00803' OR ATRZ_DMND_STTS_CD = 'VTW03704')
			</when>
		</choose>
		<!-- 검색 조건 -->
		<if test="prjctId != null">
			AND PRJCT_ID = #{prjctId}
		</if>
		<if test="elctrnAtrzTySeCd != null">
			AND ELCTRN_ATRZ_TY_SE_CD = #{elctrnAtrzTySeCd}
		</if>
		<if test="atrzDmndEmpNm != null">
			AND ATRZ_DMND_EMP_NM LIKE CONCAT('%', LOWER(#{atrzDmndEmpNm}), '%')
		</if>
		<if test="cnptNm != null">
			AND CNPT_NM LIKE CONCAT('%', LOWER(#{cnptNm}), '%')
		</if>
		<if test="title != null">
			AND (
			LOWER(GA.GNRL_ATRZ_TTL) LIKE CONCAT('%', LOWER(#{title}), '%') OR
			LOWER(C.CLM_ATRZ_TTL) LIKE CONCAT('%', LOWER(#{title}), '%') OR
			LOWER(CA.CTRT_ATRZ_CN) LIKE CONCAT('%', LOWER(#{title}), '%') OR
			LOWER(CGA.ATRZ_TTL) LIKE CONCAT('%', LOWER(#{title}), '%') OR
			LOWER(VA.VCATN_TY_CD) IN (SELECT CD_VALUE FROM CD WHERE LOWER(CD_NM) LIKE CONCAT('%', LOWER(#{title}), '%'))
			)
		</if>
	</select>
	
	<!-- 전자결재(관리자메뉴) 카운트 쿼리  -->
	<select id="elecAtrzMngCount" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT 
			   (
				 SELECT COUNT(*) 
				   FROM ELCTRN_ATRZ EA
				  INNER JOIN ATRZ_LN AL ON EA.ELCTRN_ATRZ_ID = AL.ELCTRN_ATRZ_ID
				  WHERE AL.ATRZ_STTS_CD = 'VTW00801' OR EA.ATRZ_DMND_STTS_CD = 'VTW03702'
			   ) AS PROGRESS
			 , (
				 SELECT COUNT(*) 
				   FROM ELCTRN_ATRZ EA
				  INNER JOIN ATRZ_LN AL ON EA.ELCTRN_ATRZ_ID = AL.ELCTRN_ATRZ_ID
				  WHERE AL.ATRZ_STTS_CD = 'VTW00802' OR EA.ATRZ_DMND_STTS_CD = 'VTW03703' 
			   ) AS TERMINATED_APRVR_EMP
			 , (
				 SELECT COUNT(*) 
				   FROM ELCTRN_ATRZ EA
				  INNER JOIN ATRZ_LN AL ON EA.ELCTRN_ATRZ_ID = AL.ELCTRN_ATRZ_ID
				  WHERE AL.ATRZ_STTS_CD = 'VTW00803' OR EA.ATRZ_DMND_STTS_CD = 'VTW03704' 	 
			   ) AS DENY
		  FROM DUAL
	</select>
	
	<!-- 전자결재(관리자메뉴) 카운트 쿼리  -->
	<select id="retrieveElecAtrzAtchmnFl" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT CASE WHEN VA.ATCHMNFL_ID IS NOT NULL THEN VA.ATCHMNFL_ID
		            WHEN CTA.ATCHMNFL_ID IS NOT NULL THEN CTA.ATCHMNFL_ID
					WHEN CGA.ATCHMNFL_ID IS NOT NULL THEN CGA.ATCHMNFL_ID
					WHEN GA.ATCHMNFL_ID IS NOT NULL THEN GA.ATCHMNFL_ID
					WHEN CA.ATCHMNFL_ID IS NOT NULL THEN CA.ATCHMNFL_ID
					ELSE '' END AS ATCHMNFL_ID
		  FROM ELCTRN_ATRZ EA
		  LEFT JOIN VCATN_ATRZ VA ON EA.ELCTRN_ATRZ_ID = VA.ELCTRN_ATRZ_ID
		  LEFT JOIN CTRT_ATRZ CTA ON EA.ELCTRN_ATRZ_ID = CTA.ELCTRN_ATRZ_ID
		  LEFT JOIN CTRT_GIVE_ATRZ CGA ON EA.ELCTRN_ATRZ_ID = CGA.ELCTRN_ATRZ_ID  
		  LEFT JOIN GNRL_ATRZ GA ON EA.ELCTRN_ATRZ_ID = GA.ELCTRN_ATRZ_ID
		  LEFT JOIN CLM_ATRZ CA ON EA.ELCTRN_ATRZ_ID = CA.ELCTRN_ATRZ_ID
		 WHERE EA.ELCTRN_ATRZ_ID = #{elctrnAtrzId}
	</select>
</mapper>
